/*Home page*/
/* home page slider*/

 /* .carousel-inner .item {
    width: 100%;
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}  */

.carousel .item {
	width: 100%;
    height: 400px;
    left: 0 !important;
    -webkit-transition: opacity 1s; 
    -moz-transition: opacity 1s; 
    -ms-transition: opacity 1s; 
    -o-transition: opacity 1s; 
    transition: opacity 1s;
}

.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}

.purchase {
    padding: 25px 0px 30px;
    border-bottom: 2px solid #EEE;
    border-top: 2px solid #EEE;
    background-color: #f7f7f7;
    margin-top: 10px;
}

.con{
	margin-bottom: 50px; 
	color: #e6e6fa;
}

.headline {
	display: block;
	margin: 10px 0px 25px;
	border-bottom: 2px dotted #c8d2e0;
}

.inputField{
	width: 300px;
}

.headline h2, .headline h3, .headline h4 {
	margin: 0px 0px -2px;
	padding-bottom: 5px;
	display: inline-block;
	border-bottom: 3px solid #72C02C;
}

.thumbnails-style{
	padding: 10px;
margin-bottom: 15px;
}

.thumbnails-style:hover {
-moz-box-shadow: 0 0 10px #ccc; 
-webkit-box-shadow: 0 0 10px #ccc; 
box-shadow: 0 0 10px #ccc; 
}

.title{
	color: rgba(218, 174, 22, 1);
}

a {
	color: #ffa500;
	text-decoration: none;
}

.error {
	color: rgba(213, 3, 3, 1);
	font-weight: initial;
}

.sidebar{
	margin-top: 106px;
}

.sidebar li i {
    color: #72C02C;
    font-size: 13px;
    min-width: 15px;
    margin-right: 8px;
    text-align: center;
    position: relative;
}

.sidebar li a{
	color:#000000;
}

#topcontrol {
    color: #FFF;
    z-index: 99;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: none repeat scroll 0% 0% #222;
    position: relative;
    right: 14px !important;
    bottom: 11px !important;
    border-radius: 3px !important;
}

#topcontrol:after {
    top: -2px;
    left: 8.5px;
    content: "";
    position: absolute;
    text-align: center;
    font-family: FontAwesome;
}
#topcontrol:hover{
	background-color: #01ad1b;
}
