/*Home page*/
/* home page slider*/

.carousel-caption {
    color: #FFF !important;
    text-align: left !important;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6) !important;
    float: right !important;
    padding-top: 50px !important;
    margin-top: 50px !important;
    animation: 0.6s ease-in 0.8s normal both 1 fromRightAnim1;
}

.headline {
	display: block;
	margin: 10px 0px 25px;
	border-bottom: 2px dotted #c8d2e0;
}

.inputField{
	width: 300px;
}

.headline h2, .headline h3, .headline h4 {
	margin: 0px 0px -2px;
	padding-bottom: 5px;
	display: inline-block;
	border-bottom: 3px solid #72C02C;
}

.thumbnails-style{
	padding: 10px;
margin-bottom: 15px;
}

.thumbnails-style:hover {
-moz-box-shadow: 0 0 10px #ccc; 
-webkit-box-shadow: 0 0 10px #ccc; 
box-shadow: 0 0 10px #ccc; 
}

.title{
	color: rgba(218, 174, 22, 1);
}

a {
	color: #ffa500;
	text-decoration: none;
}

.error {
	color: rgba(213, 3, 3, 1);
	font-weight: initial;
}

.sidebar{
	margin-top: 106px;
}

.sidebar li i {
    color: #72C02C;
    font-size: 13px;
    min-width: 15px;
    margin-right: 8px;
    text-align: center;
    position: relative;
}

.sidebar li a{
	color:#000000;
}

#topcontrol {
    color: #FFF;
    z-index: 99;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: none repeat scroll 0% 0% #222;
    position: relative;
    right: 14px !important;
    bottom: 11px !important;
    border-radius: 3px !important;
}

#topcontrol:after {
    top: -2px;
    left: 8.5px;
    content: "";
    position: absolute;
    text-align: center;
    font-family: FontAwesome;
}
#topcontrol:hover{
	background-color: #01ad1b;
}
