@* analytics Template File *@
@(user: Option[model.repository.User],audits:List[(String,Int)],years:List[Int])(implicit flash: Flash)
@main("Mycellwasstolen",user){
	<br>
	<div class="container">
	<div class="row">
	<div class="col-md-2">
	 <ul class="nav nav-sidebar">
              <li><a href="#">Overview</a></li>
              <li><a href="#">Reports</a></li>
              <li><a href="#">Analytics</a></li>
              </ul>
	</div>
	<div class="col-md-10" style="padding: 10px;">
	    <br><h3>Registration Chart</h3>
	  <hr>
	    <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Year
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  @for(year<-years){
    <li role="presentation"><a role="menuitem" tabindex="-1" href="@routes.AuditController.getRegistrationRecordsByYear(year.toString())">@year</a></li>
  }
  </ul>
</div>
    <br><br>
	
 @if(audits.size>0){
  <table class="highchart" data-graph-container-before="1" data-graph-type="column" style="display:none;" >
  <thead>
    <tr>
    
                            	<th>Month</th>
							<th>Registration</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(record <- audits) {
                    <tr>
                    <td>@record._1</td>
                    <td>@record._2</td>
                    </tr>
                    }
                    </tbody>
</table>	
  }else{
  <div class="panel panel-default">
			  <div class="panel-body" style="background: #FFCCCC">
			    <em>No records!</em>
			  </div>
			</div>	
  }
</div>
</div>
</div>
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/highcharts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.highchartTable.js")" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function() {
	  $('table.highchart').highchartTable();
});
</script>
}

