logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/target
.classpath
.project
.settings/
.target/
.idea/
.idea_modules/
.cache
.metadata/*
src/main/webapp/css-generated/styles.css
tmp/
/bin
Procfile
