@(mobileStatusForm: Form[model.domains.Domain.MobileStatus], user: Option[model.domains.Domain.User])(implicit flash: Flash)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Check Cell Status-stolencell",user){
<div class="container">
		<div class="page-header">
			<h1>Check and Change Mobile Status</h1>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Check Status</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					@flash.get("ERROR").map { message =>
						<div class="alert alert-dismissable alert-danger">
							<strong>@message</strong>
						</div>
					}
					
					@flash.get("SUCCESS").map { message =>
						<div class="alert alert-dismissable alert-success">
							<strong>@message</strong>
						</div>
					}
				</div>
				<div class="row">
					
						<div class="well">
							<input type="text" id="imeiMeid" name="imeiMeid" placeholder="IMEI/MEID">
							<div class="form-actions">
							<br>
							<input type="submit" value="Check Status" class="btn btn-primary"
									onClick="showMobileRecord();">
							</div>
							<br>
							<div id="mobileRecords">
							</div>
						</div>
				</div>
			</div>
		</div>
    </div>
    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Mobile Status</h4>
      </div>
      <div class="modal-body" id="modalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>

<script type="text/javascript">
		var imeId = "";
		function showMobileRecord() {
			var imeid = $('#imeiMeid').val();
			if($('#imeiMeid').val() == ''){
				$("#mobileRecords").addClass("alert alert-danger");
				$("#mobileRecords").html("Data Not Found");
			}
			else{
			mobileRecord(imeid);
			}
		}

		var mobileAjaxSuccess = function(data) {
			if (data.status == "Ok") {
				var mobile = data.mobileData;
				if(mobile.regType=="stolen"){
					var image='<img src="/assets/images/red.jpg"  alt="...gjkbjkhjk..."/>';
				}
				else{
					var image='<img src="/assets/images/Green.jpg"  alt="...gjkbjkhjk..."/>';
				}
				var mobileData = '<div id="mobile-status"><table class="table table-bordered"><tr><th>IMEI</th><th>Other IMEI</th><th>Approval</th><th>Change to Pending</th><th>Mobile Name</th><th>Mobile Model</th><th>Contact No</th><th>Status</th><th>Change Status</th><th>Label</th></tr><tr><td>'
						+ mobile.imeiMeid
						+ '</td><td>'
						+ (mobile.otherImeiMeid == "" ? "None" : mobile.otherImeiMeid)
						+ '</td><td>'
						+mobile.mobileStatus
						+'</td><td>'
						+(mobile.mobileStatus == "approved" ? '<button title="change approval" class="btn btn-info" id="changeApproval" onclick="changeStatusToPending(\''+mobile.imeiMeid+'\');">Change to Pending</button>':'<button title="change approval" class="btn btn-info" id="changeApproval" onclick="changeStatusToPending(\''+mobile.imeiMeid+'\');" disabled>change to Pending</button>')
						+'</td><td>'
						+(mobile.mobileName.match(/~Other.*/) ? mobile.otherMobileBrand : mobile.mobileName)
						+ '</td><td>'
						+(mobile.mobileModel.match(/~Other.*/) ? mobile.otherMobileModel : mobile.mobileModel)
						+ '</td><td>'
						+ mobile.contactNo
						+ '</td><td>'
						+ mobile.regType
						+'</td><td><button title="change status" class="btn btn-info" id="changeRegType" onclick="toChangeRegType(\''+mobile.imeiMeid+'\');">change status</button></td><td>'
						+ image + '</td></tr></table></div>';
				$("#mobileRecords").empty();
				$("#mobileRecords").removeClass("alert alert-danger");
				$('#modalBody').html(mobileData);
				$('#myModal').modal('show');
			} else {
				$("#mobileRecords").addClass("alert alert-danger");
				$("#mobileRecords").html("Data Not Found");
				console.debug("Data no found");
			}
			console.debug("Success of Ajax Call");
			console.debug("Success of Ajax Call" + data);
		};

		var mobileAjaxError = function(err) {
			console.debug("Error of ajax Call");
			console.debug(err);
		};

		var mobileRecord = function(imeid) {

			var mobileAjaxCallBack = {
				success : mobileAjaxSuccess,
				error : mobileAjaxError
			};

			jsRoutes.controllers.MobileController.getImeiMeidList(imeid).ajax(
					mobileAjaxCallBack);
		};
		
	     
	     function toChangeRegType(imeid) {
				imeId = imeid;
				changeRegType(imeid);
			}
			
			var statusAjaxSuccess = function(data) {
				$("#changeRegType").prop("disabled",true);
				$("#changeRegType").text('Changed');
				console.debug("Success of Ajax Call");
				console.debug(data);
			};
			
			var statusAjaxError = function(err) {
				console.debug("Error of ajax Call");
				console.debug(err);
			};
	        
	        var changeRegType = function(imeid) {
	        	
	        	var statusAjaxCallBack = {
	    			success: statusAjaxSuccess,
	    			error: statusAjaxError
	    		};
	        	
	        	jsRoutes.controllers.AdminController.changeMobileRegType(imeid).ajax(statusAjaxCallBack);
	        };
	        
	        function changeStatusToPending(imeid) {
	        	imeId = imeid;
				changeStatusPending(imeid);
			}
		    
		    var statusAjaxSuccessToPending = function(data) {
				$("#changeApproval").prop("disabled",true);
				$("#changeApproval").text('Changed to Pending');
				console.debug("Success of Ajax Call for Pending");
				console.debug(data);
			};
			
			var statusAjaxErrorToPending = function(err) {
				console.debug("Error of ajax Call for to pending change");
				console.debug(err);
			};
			
			var changeStatusPending = function(imeid) {
	        	
	        	var statusAjaxCallBackPending = {
	    			success: statusAjaxSuccessToPending,
	    			error: statusAjaxErrorToPending
	    		};
	        	
	        	jsRoutes.controllers.AdminController.pending(imeid).ajax(statusAjaxCallBackPending);
	        };
	     
	    $("#imeiMeid").rules("add", {
	 			required : true
	 		});	
</script>	           	
	
}