@(mobiles: List[model.domains.Domain.Mobile])(implicit flash: Flash)

@import model.domains.Domain.Status

@main("Mycellwasstolen") {

	<div class="content-body span10">
		<div class="well">
			<div class="row">
				<div class="span6" style="padding-left: 20px;">
					<h3>@Messages("admin.requestapproval")</h3>
				</div>
				<div class="span6">
					<a class="btn btn-info" style="float: right;" href="#">Proof</a>
					<a class="btn btn-info" style="float: right;" href="#">Proof Demanded</a>
				</div>
			</div>
			@flash.get("error").map { message =>
                <div class="alert alert-error">
        			<strong>@message</strong>
      			</div>
            }
            
            @flash.get("success").map { message =>
                <div class="alert alert-success">
        			<strong>@message</strong>
      			</div>
		}

		@if(mobiles.size > 0) {
            	<table id="mobileTable" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
            		<thead>
						<tr>
							<th>@Messages("mobile.name")</th>
							<th>@Messages("mobile.model")</th>
							<th>@Messages("mobile.imei")</th>
							<th>@Messages("mobile.purchaseDate")</th>
							<th>@Messages("mobile.email")</th>
							<th>@Messages("mobile.approval")</th>
							<th>@Messages("mobile.status")</th>
							<th>@Messages("mobile.proof")</th>
							<th>@Messages("mobile.approve")</th>
							<th>@Messages("mobile.demandProof")</th>
							<th>@Messages("mobile.registrationTime")</th>
						</tr>
					</thead>
					<tbody>
           			@for(mobile <- mobiles) {
			    		<tr>
			    			<td>@mobile.mobileName</td>
			    			<td>@mobile.mobileModel</td>
			    			<td>@mobile.imeiMeid</td>
			    			<td>@mobile.purchaseDate</td>
			    			<td>@mobile.email</td>
			    			<td>@mobile.mobileStatus</td>
			    			<td>@mobile.regType</td>
			    			<td>
								<button class="btn btn-info" data-toggle="modal"
									data-target="#myModal_@mobile.imeiMeid">Get Proof</button> <!-- Modal -->
								<div class="modal fade" id="myModal_@mobile.imeiMeid" tabindex="-1" role="dialog"
									aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"
													aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">Proof Document</h4>
											</div>
											<div class="modal-body"><img style="height: 200px;" alt="Proof Document" src="@routes.Assets.at("proofDocuments/" +mobile.document)" /></div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default"
													data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div> 
					    </td>
	    				<td>
	    					<a title="Approve" class="btn btn-info" href="#">Approve</a>
	    				</td>
	    				<td>
	    					<a title="Demand Proof" class="btn btn-info" href="#">Demand Proof</a>
	    				</td>
	    				<td>@mobile.purchaseDate</td>
			    	</tr>
			    		
                      }
           			</tbody>
            	</table>
            } else {
            	<h1>@Messages("default.notShow")</h1>
            }
	</div>
	</div>
	
	<script type="text/javascript">
	</script>
}
