@(mobiles: List[(model.domains.Domain.Mobile,String,String)], user: Option[model.domains.Domain.User])(implicit flash: Flash)

@import model.domains.Domain.Status
@main("Mycellwasstolen",user) {

	<div class="content-body span10">
		<div class="well">
			<div class="row">
				<div class="span6" style="padding-left: 20px;">
					<h3>@Messages("admin.requestapproval")</h3>
				</div>
				<div class="span6">
					<button class="btn btn-info" style="float: right; id="pending_button" onclick="getMobilesByStatus('pending');" >Pending</button>
					<button class="btn btn-info" style="float: right; id="pending_button" onclick="getMobilesByStatus('proofdemanded');" >Proof Demanded</button>
					<button class="btn btn-info" style="float: right; id="pending_button" onclick="getMobilesByStatus('approved');" >Approved</button>
				</div>
			</div>
			@flash.get("error").map { message =>
                <div class="alert alert-error">
        			<strong>@message</strong>
      			</div>
            }
            
            @flash.get("success").map { message =>
                <div class="alert alert-success">
        			<strong>@message</strong>
      			</div>
		}
<div id="emptylistmessage">
		@if(mobiles.size >= 0) {
            	<table id="mobileTable" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
            		<thead>
						<tr>
							<th>@Messages("mobile.name")</th>
							<th>@Messages("mobile.model")</th>
							<th>@Messages("mobile.imei")</th>
							<th>@Messages("mobile.purchaseDate")</th>
							<th>@Messages("mobile.email")</th>
							<th>@Messages("mobile.approval")</th>
							<th>@Messages("mobile.status")</th>
							<th>@Messages("mobile.proof")</th>
							<th>@Messages("mobile.approve")</th>
							<th>@Messages("mobile.demandProof")</th>
							<th>@Messages("mobile.registrationTime")</th>
						</tr>
					</thead>
					<tbody id="mobileData">
           			@for(mobile <- mobiles) {
			    		<tr>
			    			<td>@mobile._2</td>
			    			<td>@mobile._3</td>
			    			<td>@mobile._1.imeiMeid</td>
			    			<td>@mobile._1.purchaseDate</td>
			    			<td>@mobile._1.email</td>
			    			<td id="status_@mobile._1.imeiMeid">@mobile._1.mobileStatus</td>
			    			<td>@mobile._1.regType</td>
			    			<td>
								<button class="btn btn-info" onclick="showDocumentProof('@mobile._1.document');">Get Proof</button> <!-- Modal -->
								<div class="modal fade" id="myModal_@mobile._1.imeiMeid" tabindex="-1" role="dialog"
									aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"
													aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">Proof Document</h4>
											</div>
											<div class="modal-body"><img style="height: 200px;" alt="Proof Document" src="@routes.Assets.at("proofDocuments/" +mobile._1.document)" /></div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default"
													data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div> 
					    </td>
					
					    @if(mobile._1.mobileStatus==Status.approved){
	    				<td>
	    					<button title="Approve" class="btn btn-info" id="approve_@mobile._1.imeiMeid" disabled>Approve</button>
	    				</td>
	    				} else{
	    				<td>
	    					<button title="Approve" class="btn btn-info" onClick="changeStatus(@mobile._1.imeiMeid);" id="approve_@mobile._1.imeiMeid" >Approve</button>
	    				</td>
	    				}
	    				@if(mobile._1.mobileStatus==Status.proofdemanded){
	    				<td>
	    					<button title="Demand Proof" class="btn btn-info"  id="demand_@mobile._1.imeiMeid" disabled>Demand Proof</button>
	    				</td>
	    				}else{
	    				<td>
	    					<button title="Demand Proof" class="btn btn-info"  onClick="changeStatusToDemand(@mobile._1.imeiMeid);" id="demand_@mobile._1.imeiMeid" >Demand Proof</button>
	    				</td>
	    				}
	    				<td>@mobile._1.regDate</td>
			    	</tr>
			    		
                      }
           			</tbody>
            	</table>
            } <!-- else {
            	<h1>@Messages("default.notShow")</h1>
            } -->
	</div>
	</div>
	</div>
	<script type="text/javascript">
	    var imeId = "";
	    
	    function changeStatusToDemand(imeid) {
			imeId = imeid;
			changeStatusToDemandProof(imeid);
			sendMailForDemandProof(imeid); // for mail 
		}
	    
	    var statusAjaxSuccessDemandProof = function(data) {
			$("#demand_"+imeId).prop("disabled",true);
			$("#demand_"+imeId).text('Proof Demanded');
			console.debug("Success of Ajax Call for demand proof");
			console.debug(data);
		};
		
		var statusAjaxErrorDemandProof = function(err) {
			console.debug("Error of ajax Call for demand proof");
			console.debug(err);
		};
		
		var changeStatusToDemandProof = function(imeid) {
        	
        	var statusAjaxCallBackDemandProof = {
    			success: statusAjaxSuccessDemandProof,
    			error: statusAjaxErrorDemandProof
    		};
        	
        	jsRoutes.controllers.AdminController.proofDemanded(imeid).ajax(statusAjaxCallBackDemandProof);
        };
        
        var sendMailForDemandProof=function(imeid){
        	var statusAjaxCallBackForSendMail={
        			success: statusAjaxSuccessForSendmail,
        			error: statusAjaxErrorForSendmail	
        	};
        	jsRoutes.controllers.AdminController.sendMailForDemandProof(imeid).ajax(statusAjaxCallBackForSendMail)
        };
        
        var statusAjaxSuccessForSendmail = function(data) {
			console.debug("Success of Ajax Call");
			console.debug(data);
		};
		
		var statusAjaxErrorForSendmail = function(err) {
			console.debug("Error of ajax Call");
			console.debug(err);
		};
        
	    
		function changeStatus(imeid) {
			imeId = imeid;
			changeStatusToApprove(imeid);
		}
		
		var statusAjaxSuccess = function(data) {
			$("#approve_"+imeId).prop("disabled",true);
			$("#approve_"+imeId).text('approved');
			console.debug("Success of Ajax Call");
			console.debug(data);
		};
		
		var statusAjaxError = function(err) {
			console.debug("Error of ajax Call");
			console.debug(err);
		};
        
        var changeStatusToApprove = function(imeid) {
        	
        	var statusAjaxCallBack = {
    			success: statusAjaxSuccess,
    			error: statusAjaxError
    		};
        	
        	jsRoutes.controllers.AdminController.approve(imeid).ajax(statusAjaxCallBack);
        };
        
      //script for getting  mobile list by status
      
        function getMobilesByStatus(status){

        	getMobileListByStatus(status);
        }
        
        var statusAjaxSuccessForPendingMobileList = function(data){
      	 if (data.status == "Error"){
      		$('#mobileData').empty();
      		$('#mobileData').append("Requested Data are empty");
        }
      	 else{
      		// console.log(data.toSource());
      		 $('#mobileData').empty();
      		 $.each(data, function(index, value){
                var tBody= '<tr><td>'+(value._2=="~Other" ? value._2+"("+value._1.otherMobileBrand+")":value._2)+
                '</td><td>'+(value._3=="~Other" ? value._3+"("+value._1.otherMobileModel+")":value._3)+
                '</td><td>'+value._1.imeiMeid+
                '</td><td>'+value._1.purchaseDate+
                '</td><td>'+value._1.email+'</td><td>'
                +value._1.mobileStatus.name+'</td><td>'
                +value._1.regType+'</td><td><button class="btn btn-info" data-toggle="modal" data-target="#myModal_'+value._1.imeiMeid+'" onclick="showDocumentProof(\''+value._1.document+'\');"'
                +'>Get Proof</button></td><td>'
                //condition for disable approve button
                +(value._1.mobileStatus.name=="approved"?'<button title="Approve" class="btn btn-info" id="approve_'+value._1.imeiMeid+'" onclick="changeStatus('+value._1.imeiMeid+');" disabled>Approved</button>':'<button title="Approve" class="btn btn-info" id="approve_'+value._1.imeiMeid+'" onclick="changeStatus('+value._1.imeiMeid+');">Approve</button>')
                +((value._1.mobileStatus.name=="proofdemanded"||value._1.mobileStatus.name=="approved")?'</td><td><button title="Demand Proof" class="btn btn-info" id="demand_'+value._1.imeiMeid+'" onclick="changeStatusToDemand('+value._1.imeiMeid+');" disabled >Demand Proof</button>':'</td><td><button title="Demand Proof" class="btn btn-info" id="demand_'+value._1.imeiMeid+'" onclick="changeStatusToDemand('+value._1.imeiMeid+');">Demand Proof</button>')
                +'</td>'
                +'<td>'+value._1.regDate+'</td></tr>';
                
                $('#mobileData').append(tBody);
      		});  
      	}
      	  console.debug("Success of Ajax Call for Mobile List By Status");
  		  console.debug(data);
        };
        var statusAjaxErrorForPendingMobileList=function(err){
      	  console.debug("Error of ajax Call for Mobile List By Status");
  		  console.debug(err);
        };
        
        var getMobileListByStatus = function(status){
      	  var statusAjaxCallBackForPendingList={
      			  success: statusAjaxSuccessForPendingMobileList,
      			  error: statusAjaxErrorForPendingMobileList
      	  };
      	  
      	  jsRoutes.controllers.AdminController.mobilesForAjaxCall(status).ajax(statusAjaxCallBackForPendingList);
        };
        
        function showDocumentProof(documentProofId){
        	//popupWindow = window.open('https://s3.amazonaws.com/mcws/'+documentProofId+'','popUpWindow','height=700,width=800,left=10,top=10,resizable=yes,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no,status=yes');
        	 var newWindow = window.open("", "pictureViewer", 
        		        "location=no, directories=no, resizable=yes, fullscreen=no, " + 
        		        "menubar=no, status=yes, toolbar=no, width=" + 
        		        800 + ", height=" + 700 + ", scrollbars=no");
        		    newWindow.document.writeln("<html>");
        		    newWindow.document.writeln("<body style='margin: 0 0 0 0;'>");
        		    newWindow.document.writeln("<a href='javascript:window.close();'>");
        		    newWindow.document.writeln('<img src=https://s3.amazonaws.com/mcws/'+documentProofId+' alt="Click to close" id="bigImage"/>');
        		    newWindow.document.writeln("</a>");
        		    newWindow.document.writeln("</body></html>");
        		    newWindow.document.close();
        }
       
	
	</script>
}
