@(mobiles: List[model.domains.Domain.Mobile], user: Option[model.domains.Domain.User])(implicit flash: Flash)

@import model.domains.Domain.Status

@main("Mycellwasstolen",user) {

	<div class="content-body span10">
		<div class="well">
			<div class="row">
				<div class="span6" style="padding-left: 20px;">
					<h3>@Messages("admin.requestapproval")</h3>
				</div>
				<div class="span6">
					<a class="btn btn-info" style="float: right;" href="#">Pending</a>
					<a class="btn btn-info" style="float: right;" href="#">Proof Demanded</a>
				</div>
			</div>
			@flash.get("error").map { message =>
                <div class="alert alert-error">
        			<strong>@message</strong>
      			</div>
            }
            
            @flash.get("success").map { message =>
                <div class="alert alert-success">
        			<strong>@message</strong>
      			</div>
		}

		@if(mobiles.size > 0) {
            	<table id="mobileTable" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
            		<thead>
						<tr>
							<th>@Messages("mobile.name")</th>
							<th>@Messages("mobile.model")</th>
							<th>@Messages("mobile.imei")</th>
							<th>@Messages("mobile.purchaseDate")</th>
							<th>@Messages("mobile.email")</th>
							<th>@Messages("mobile.approval")</th>
							<th>@Messages("mobile.status")</th>
							<th>@Messages("mobile.proof")</th>
							<th>@Messages("mobile.approve")</th>
							<th>@Messages("mobile.demandProof")</th>
							<th>@Messages("mobile.registrationTime")</th>
						</tr>
					</thead>
					<tbody>
           			@for(mobile <- mobiles) {
			    		<tr>
			    			<td>@mobile.mobileName</td>
			    			<td>@mobile.mobileModel</td>
			    			<td>@mobile.imeiMeid</td>
			    			<td>@mobile.purchaseDate</td>
			    			<td>@mobile.email</td>
			    			<td id="status_@mobile.imeiMeid">@mobile.mobileStatus</td>
			    			<td>@mobile.regType</td>
			    			<td>
								<button class="btn btn-info" data-toggle="modal"
									data-target="#myModal_@mobile.imeiMeid">Get Proof</button> <!-- Modal -->
								<div class="modal fade" id="myModal_@mobile.imeiMeid" tabindex="-1" role="dialog"
									aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"
													aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">Proof Document</h4>
											</div>
											<div class="modal-body"><img style="height: 200px;" alt="Proof Document" src="@routes.Assets.at("proofDocuments/" +mobile.document)" /></div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default"
													data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div> 
					    </td>
					
					    @if(mobile.mobileStatus==Status.approved){
	    				<td>
	    					<button title="Approve" class="btn btn-info" id="approve_@mobile.imeiMeid" disabled>Approve</button>
	    				</td>
	    				} else{
	    				<td>
	    					<button title="Approve" class="btn btn-info" onClick="changeStatus(@mobile.imeiMeid);" id="approve_@mobile.imeiMeid" >Approve</button>
	    				</td>
	    				}
	    				@if(mobile.mobileStatus==Status.proofdemanded){
	    				<td>
	    					<button title="Demand Proof" class="btn btn-info"  id="demand_@mobile.imeiMeid" disabled>Demand Proof</button>
	    				</td>
	    				}else{
	    				<td>
	    					<button title="Demand Proof" class="btn btn-info"  onClick="changeStatusToDemand(@mobile.imeiMeid);" id="demand_@mobile.imeiMeid" >Demand Proof</button>
	    				</td>
	    				}
	    				<td>@mobile.purchaseDate</td>
			    	</tr>
			    		
                      }
           			</tbody>
            	</table>
            } else {
            	<h1>@Messages("default.notShow")</h1>
            }
	</div>
	</div>
	
	<script type="text/javascript">
	    var imeId = "";
	    
	    function changeStatusToDemand(imeid) {
			imeId = imeid;
			changeStatusToDemandProof(imeid);
		}
	    
	    var statusAjaxSuccessDemandProof = function(data) {
			$("#demand_"+imeId).prop("disabled",true);
			$("#status_"+imeId).text('ProofDemanded');
			console.debug("Success of Ajax Call for demand proof");
			console.debug(data);
		};
		
		var statusAjaxErrorDemandProof = function(err) {
			console.debug("Error of ajax Call for demand proof");
			console.debug(err);
		};
		
		var changeStatusToDemandProof = function(imeid) {
        	
        	var statusAjaxCallBackDemandProof = {
    			success: statusAjaxSuccessDemandProof,
    			error: statusAjaxErrorDemandProof
    		};
        	
			jsRoutes.controllers.AuthController.proofDemanded(imeid).ajax(statusAjaxCallBackDemandProof);
        };
	    
		function changeStatus(imeid) {
			imeId = imeid;
			changeStatusToApprove(imeid);
		}
		
		var statusAjaxSuccess = function(data) {
			$("#approve_"+imeId).prop("disabled",true);
			$("#status_"+imeId).text('approved');
			console.debug("Success of Ajax Call");
			console.debug(data);
		};
		
		var statusAjaxError = function(err) {
			console.debug("Error of ajax Call");
			console.debug(err);
		};
        
        var changeStatusToApprove = function(imeid) {
        	
        	var statusAjaxCallBack = {
    			success: statusAjaxSuccess,
    			error: statusAjaxError
    		};
        	
			jsRoutes.controllers.AuthController.approve(imeid).ajax(statusAjaxCallBack);
        };
		
	
	</script>
}
