@(createmobilemodelform: Form[model.repository.ModelForm], mobilesName: List[model.repository.Brand], user: Option[model.repository.User])(implicit flash: Flash)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }
@views.html.admin.main("Add Model",user){ 

             @flash.get("ERROR").map { message =>
						<div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                          <strong>@message</strong>
                        </div>
					}
					@flash.get("SUCCESS").map { message =>
						<div class="alert alert-dismissible alert-success">
                          <button type="button" class="close" data-dismiss="alert">×</button>
                           <strong>@message</strong>
                      </div
					}
				<div class="row">
					<div class="col-lg-8">
						<div class="well form-horizontal">
							@helper.form(action = routes.AdminController.saveModel, 'id ->"mobileModelForm") {
							 <fieldset>
								@select(field=createmobilemodelform("brandName"),options=mobilesName.map(x=>
									(x.id.get.toString -> (x.name))).toSeq, '_label -> "Mobile Name",
									'_default -> "-- Choose Mobile Name --", '_showConstraints ->
									false,'_error ->
									createmobilemodelform("brandName").error.map(_.withMessage("Mobile	Name Required")))
	
								@inputText(createmobilemodelform("modelName"), '_label -> "Mobile Model")
							 </fieldset>
							 <div class="form-group">
								<div class="col-lg-10 col-lg-offset-4">
									<button class="btn btn-primary" type="submit">Submit</button>
									<a href="/admin"  class="btn btn-default">Cancel</a>
								</div>
							 </div>
						  }
						</div>
					</div>
					
				</div>
    
    <script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/additional-methods.js")" type="text/javascript"></script>
    <script type="text/javascript">
	    
	    $( "#mobileModelForm" ).validate({
	    	rules: {
	    		mobileName: {
	    			required: true
	    		}
	    	}
	    });
	   
	</script>
} 
