.page-header {
	margin: auto;
}

.carousel-panel {
	margin-top: 20px;
	padding: 20px;
}

.font-text {
	color: blue;
	font-size: 14px;
}
.mobiel-status{
	text-align: center;
border: 1px solid rgba(216, 216, 216, 0.48);
padding: 7px;
}

.font-color-heading {
	color: green;
}

#sidePanel {
	border: 1px solid #808080;
	margin-left: 10px;
	height: 300px;
	background-color: rgba(239, 240, 240, 1);
	margin-top: 10px;
}

.login {
	background: none repeat scroll 0 0 white;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
		rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	padding: 20px;
	position: relative;
	width: 610px;
}

.form-margin {
	margin-top: -34px;
}

.title-margin {
	margin-top: -1px;
	margin-bottom: 0px;
	background-color: #f5f5f5;
	padding: 15px;
}

.required-field {
	font-size: 25px;
	vertical-align: sub;
	color: red;
}

.error {
	color: #FF0000;
	margin-top: 5px;
}

.errorImage{
	margin-left: 95px;
	
}

.well {
	margin-top: 20px !important;
}

.text-margin {
	margin-top: 10px;
	background-color: #f5f5f5;
}

.title {
	color: #757575;
	margin-top: -8px;
}

.login-margin {
	margin-left: 10px;
	margin-left: 10px;
}

.margin {
	margin-top: 105px;
}

.social-margin {
	margin-top: 65px;
	margin-right: 40px;
}

<!--
add  Modal for check mobile status -->.modal-body {
	position: relative;
	padding: 15px;
	min-width: 900px; /* SET THE WIDTH OF THE MODAL */
}

.modal-content {
	position: relative;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	width: 1100px; /* SET THE WIDTH OF THE MODAL */
	margin: 100px 0 0 -250px;
	/* CHANGE MARGINS TO ACCOMMODATE THE NEW WIDTH */
}