.page-header {
    margin: auto;
}

.carousel-panel {
	margin-top: 20px;
}

.font-text {
	color: blue;
	font-size: 14px;
}

.font-color-heading {
	color: green;
}

.login {
    background: none repeat scroll 0 0 white;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 610px;
}

.container {
	
}

.form-margin{
	margin-top: -34px;
}

.title-margin{
	margin-top: -1px;
	margin-bottom: 0px;
	background-color: #f5f5f5;
	padding:15px;
}

.required-field {
	font-size: 25px;
	vertical-align: sub;
	color: red;
}

.error {
	color: #FF0000;
    margin-top: 5px;
}

.well{
	margin-top: 60px !important;
}

.text-margin{
	margin-top: 10px;
	background-color: #f5f5f5;
}

.title{
	color:#757575;
	margin-top:-8px;
}

.login-margin{
	margin-left: 10px;
	margin-left: 10px;
}

.margin{
	margin-top:28px;
}

.social-margin{
	margin-top: 27px;
	margin-right: 40px;
}