@(string: String, user: Option[model.repository.User])(content: Html)
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MCWS</title>

    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.at("user/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@routes.Assets.at("user/css/agency.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@routes.Assets.at("user/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" class="index">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">MCWS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/check_mobile_status">Check phone status</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/register_stolen_phone">Register phone</a>
                    </li>
                                        <li>
                        <a class="page-scroll" href="#services">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Services Section -->
    <section id="services" style="margin-top: 100px;">
        <div class="container" style="box-shadow: 5px 5px 5px 5px #C0B6B6;padding: 10px;">
        <div class="row">
        <div class="col-md-9">
	
	<div id="myCarousel" class="carousel slide" style="margin-top: -125px;">
  <div class="carousel-inner">
    <div class="active item">
      <div class="fill" style="background-image:url('assets/user/img/bg.jpg');">
          <div class="blocky"><h3 class="pull-left pull-middle light-color" style="margin-top: 100px;">
         Over 700,000 mobile phones are stolen every year</h3></div>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('assets/user/img/bg.jpg');">
          <div class="blocky"><h3 class="pull-left pull-middle light-color" style="margin-top: 100px;">
         Over 700,000 mobile phones are stolen every year</h3></div>
        </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('assets/user/img/bg.jpg');">
          <div class="blocky"><h3 class="pull-left pull-middle light-color" style="margin-top: 100px;">
         Over 700,000 mobile phones are stolen every year</h3></div>
      </div>
    </div>
	</div>
  	<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
        @content
        </div>
        <div class="col-md-3" style="border: 1px solid;">
        <div class="row" style="margin-top: 5px;">
<div class="col-md-4" style="text-align: right;">
<img src="@routes.Assets.at("user/img/logo.png")" alt="..."></div>
<div class="col-md-8" style="padding-top: 10px;">
<h5 style="text-align: center; color: rgba(239, 0, 0, 1);display: inline; ">My cell was stolen</h5>
<p style="font-style: oblique;">Making the mobile space secure</p></div>
		   </div>
		   <hr>
		   
        <div class="input-group" style="width: 250px;">
      <input type="text" class="form-control" placeholder="Search for this site...">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Search</button>
      </span>
    </div><hr>
    <img src="@routes.Assets.at("user/img/map.jpg")" alt="...">
    <hr>
    <div id="fb-root"></div> 
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id))
					return;
				js = d.createElement(s);
				js.id = id;
				js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=436035873185298";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<div class="g-plus" data-annotation="bubble" data-height="24" data-href="//plus.google.com/101596762455378096324" data-action="share"></div>

                <!-- Place this tag after the last share tag. -->
               <script type="text/javascript">
																(function() {
																	var po = document
																			.createElement('script');
																	po.type = 'text/javascript';
																	po.async = true;
																	po.src = 'https://apis.google.com/js/platform.js';
																	var s = document
																			.getElementsByTagName('script')[0];
																	s.parentNode
																			.insertBefore(
																					po,
																					s);
																})();
															</script>
	    		<!-- Place this tag where you want the widget to render. -->
				<div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/101596762455378096324" data-rel="publisher">
				</div>

				<!-- Place this tag after the last widget tag. -->
				<script type="text/javascript">
					(function() {
						var po = document.createElement('script');
						po.type = 'text/javascript';
						po.async = true;
						po.src = 'https://apis.google.com/js/plusone.js';
						var s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(po, s);
					})();
				</script>
				<script src="//platform.linkedin.com/in.js" type="text/javascript">
					lang: en_US
				</script>
           		<script type="IN/Share" data-url="http://www.mycellwasstolen.com/" data-counter="right">
				</script>
		    	<span class="fb-like" data-href="https://www.facebook.com/mycellwasstolen.mcws" data-width="200" data-show-faces="false" data-send="true"></span>
		    		<a href="https://twitter.com/mycellwasstolen" class="twitter-follow-button" data-show-count="true" data-size="medium">Follow</a>
				<script>
					!function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/
								.test(d.location) ? 'http' : 'https';
						if (!d.getElementById(id)) {
							js = d.createElement(s);
							js.id = id;
							js.src = p + '://platform.twitter.com/widgets.js';
							fjs.parentNode.insertBefore(js, fjs);
						}
					}(document, 'script', 'twitter-wjs');
				</script>
				<hr>
        <h4>Links</h4>
        <a href="">How does it work</a><br>
        <a href="">Register stolen phone</a><br>
        <a href="">Check mobile imei</a><br>
        <a href="">Rewards</a><br>
        <a href="">Win prizes</a><br>
        <hr>
        <h4>Popular post</h4>
        </div>
        </div>
        </div>
    </section>
    
    <footer style="background-color: rgba(117, 119, 118, 1); margin-top: 30px;">
        <div class="container">
        <div class="row" style="text-align: left;">
                <div class="col-md-3 col-sm-6">
                 <h4>Services</h4>
                 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                 <a href="" >How does it works</a><br>
                 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                 <a href="" >About us</a><br>
                 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                 <a href="" >Report</a><br>
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                 <a href="" >Contact us</a>
                </div>
                <div class="col-md-3 col-sm-6">
                 <h4>Relations</h4>
                 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                 <a href="" >Privacy policy</a><br>
                 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                 <a href="" >Terms of use</a><br>
                 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                 <a href="" >Advertise</a><br>
                </div>
                <div class="col-md-3 col-sm-6">
                 <h4>Follow with us on</h4>
                 <a href="http://www.linkedin.com/company/knoldus-software-llp-" target="_blank"> <img alt="" src="@routes.Assets.at("user/img/facebook.png")"></a>&nbsp;&nbsp;&nbsp; 
                 <a href="https://twitter.com/knolspeak" target="_blank"> <img alt="" src="@routes.Assets.at("user/img/twitter.png")"></a>&nbsp;&nbsp;&nbsp;
                 <a href="http://blog.knoldus.com" target="_blank"> <img alt="" src="@routes.Assets.at("user/img/linkedin.png")"></a>&nbsp;&nbsp;&nbsp;
                 <a href="http://blog.knoldus.com" target="_blank"> <img alt="" src="@routes.Assets.at("user/img/g+.png")"></a>
                </div>
                <div class="col-md-3 col-sm-6">
                   <h5>For any further information write to us</h5><br>
                   <span class=" glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;
		<a href="https://www.gmail.com/" target="blank">info@@mycellwasstolen.com</a>
		</div>
		</div>
		<hr style="border: 1px solid;">
            <div class="row">
                <div class="col-md-6">
                    <span class="copyright">Copyright &copy; Knoldus Software LLP, Inc. 2013</span>
                </div>
                <div class="col-md-6">
                 
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="@routes.Assets.at("user/js/jquery.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@routes.Assets.at("user/js/bootstrap.min.js")"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="@routes.Assets.at("user/js/classie.js")"></script>
    <script src="@routes.Assets.at("user/js/cbpAnimatedHeader.js")"></script>

    <!-- Contact Form JavaScript -->
    <script src="@routes.Assets.at("user/js/jqBootstrapValidation.js")"></script>

    <!-- Custom Theme JavaScript -->
    <script>
		$(document).ready(function() {
			$('.carousel').carousel();
			$('#myCarousel').on('slide', function() {
				$('.blocky').fadeOut(300);
			})
			$('#myCarousel').on('slid', function() {
				$('.blocky').fadeIn(600).animate({
					marginLeft : "+=15%"
				}, 200).animate({
					marginLeft : "-=15%"
				}, 300).animate({
					marginLeft : "+=4%"
				}, 600).animate({
					marginLeft : "-=4%"
				},800);
			})
		});
	</script>

</body>

</html>