@(string: String, user: Option[model.repository.User])(content: Html)
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
    <title>MCWS</title>
    <script src="@routes.Assets.at("user/js/jquery.js")"></script>
    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.at("user/css/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@routes.Assets.at("user/css/agency.css")" rel="stylesheet">
	<!-- sticky sidebar CSS -->
    <link href="@routes.Assets.at("user/mycss/stickySidebar.css")" rel="stylesheet">
    
    <link href="@routes.Assets.at("user/css/intlTelInput.css")" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="@routes.Assets.at("user/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
</head>
<body id="page-top" class="index">
	<!-- Sticky Side bar -->
	@views.html.users.contents.stickySidebar("Render Sticky Side bar")
	<!-- Render header  -->
	@views.html.users.header.header("rendering header")
	<!-- Services Section -->
	<section id="services" style="margin-top: 100px;">
		<div class="container"
			style="box-shadow: 5px 5px 5px 5px #C0B6B6; padding: 10px;">
			@if(string=="Home"){
			<div class="row">
				<div class="col-md-12">
					<!-- Carousell -->
					@views.html.users.contents.carousell("render carousell")
				</div>
			</div>
			<br>
			}

			<div class="row">
			<div class="col-md-9">
			<!-- render content passed to this page --> 
			@content
			</div>
			<div class="col-md-3" style="border: 1px solid rgba(210, 206, 206, 1); width: 282px;">
			<!-- Render Right Sidebar -->
			@views.html.users.contents.rightSidebar("render Right Sidebar")	
			</div>
			</div>
		</div>
	</section>
	<!-- Footer -->
	@views.html.users.footer.footer("render footer")
	<!-- jQuery -->
	<script src="@routes.Assets.at("user/js/jquery.js")"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="@routes.Assets.at("user/js/bootstrap.min.js")"></script>
	<!-- Plugin JavaScript -->
	<script
		src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="@routes.Assets.at("user/js/classie.js")"></script>
	<script src="@routes.Assets.at("user/js/cbpAnimatedHeader.js")"></script>
	<!-- Contact Form JavaScript -->
	<script src="@routes.Assets.at("user/js/jqBootstrapValidation.js")"></script>
	<!-- Custom Theme JavaScript -->
	<script src="@routes.Assets.at("user/js/myscript/carousell.js")"></script>
	<!-- Sticky Side bar plugin -->
	<script src="@routes.Assets.at("user/js/stickyMojo.js")"></script>
	<!-- sticky Side bar initialization -->
	<script src="@routes.Assets.at("user/js/myscript/textSlide.js")"></script>
	<script>
   $(function() {
	   $('#example').vTicker();
	 });
   </script>
	<script src="@routes.Assets.at("user/js/myscript/stickySideInit.js")"></script>
</body>
</html>