@(string: String, user: Option[model.repository.User])(content: Html)
<!DOCTYPE html>
<html lang="en">

<head>

    <title>MCWS</title>
    
    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="@routes.Assets.at("user/css/bootstrap.min.css")" rel="stylesheet">
    

    <!-- Custom CSS -->
    <link href="@routes.Assets.at("user/css/freelancer.css")" rel="stylesheet">
    <link href="@routes.Assets.at("user/css/custom.css")" rel="stylesheet">
    

    <!-- Custom Fonts -->
    <link href="@routes.Assets.at("user/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<!-- Render header  -->
	@views.html.users.header.header("rendering header")

 <header>
        <div class="container carousel slide" id="myCarousel">
                   @views.html.users.contents.carousell("render carousell")
                   	<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    <div class="intro-text">
                        <hr class="star-light">
                        <span class="skills">Let's Break The Cell Phone Theft Cycle</span>
    </header>

<!-- Render Dashboard Section -->
 @views.html.users.contents.dashboard("Render Dashboard")
 
 