@(param: Any)
<footer
		style="background-color: rgba(117, 119, 118, 1); margin-top: 30px;">
		<div class="container">
			<div class="row" style="text-align: left;">
				<div class="col-md-3 col-sm-6">
					<h4>Services</h4>
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<a href="">How does it works</a><br> <span
						class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<a href="">About us</a><br> <span
						class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<a href="">Report</a><br> <span
						class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<a href="">Contact us</a>
				</div>
				<div class="col-md-3 col-sm-6">
					<h4>Relations</h4>
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<a href="">Privacy policy</a><br> <span
						class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<a href="">Terms of use</a><br> <span
						class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<a href="">Advertise</a><br>
				</div>
				<div class="col-md-3 col-sm-6">
					<h4>Follow with us on</h4>
					<a href="http://www.linkedin.com/company/knoldus-software-llp-"
						target="_blank"> <img alt="" src="@routes.Assets.at("user/img/facebook.png")"></a>&nbsp;&nbsp;&nbsp;
					<a href="https://twitter.com/knolspeak" target="_blank"> <img
						alt="" src="@routes.Assets.at("user/img/twitter.png")"></a>&nbsp;&nbsp;&nbsp;
					<a href="http://blog.knoldus.com" target="_blank"> <img alt=""
						src="@routes.Assets.at("user/img/linkedin.png")"></a>&nbsp;&nbsp;&nbsp;
					<a href="http://blog.knoldus.com" target="_blank"> <img alt=""
						src="@routes.Assets.at("user/img/g+.png")"></a>
				</div>
				<div class="col-md-3 col-sm-6">
					<h5>For any further information write to us</h5>
					<br> <span class=" glyphicon glyphicon-envelope"
						aria-hidden="true"></span>&nbsp;&nbsp; <a
						href="https://www.gmail.com/" target="blank">info@@mycellwasstolen.com</a>
				</div>
			</div>
			<hr style="border: 1px solid;">
			<div class="row">
				<div class="col-md-6">
					<span class="copyright">Copyright &copy; Knoldus Software
						LLP, Inc. 2013</span>
				</div>
				<div class="col-md-6"></div>
			</div>
		</div>
	</footer>