@(param: Any)
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                    <h4>About My Cell Was Stolen</h4>
                        <p>A social movement making the mobile space secure.</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h4>Around the Web</h4>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/mycellwasstolen.mcws" target="blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="//plus.google.com/101596762455378096324" target="blank" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/mycellwasstolen" target="blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="http://www.mycellwasstolen.com/" target="blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4" style="background-image:url('assets/user/img/map.png');">
                        <h4>Contact Us</h4>
                        <p>For more information write to us at <br> info@@mycellwasstolen.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; mycellwasstolen 2014
                        <li class="page-scroll"><a href="#page-top"><div id="topcontrol" style="position: fixed; bottom: 5px; right: 5px; opacity: 1; cursor: pointer;" title="Scroll Back to Top"></div></a></li>
                    </div>
                </div>
            </div>
        </div>
    </footer>
