@* carousell Template File *@
@(param: Any)
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="active item">
      <div class="fill" style="background-image:url('assets/example/bg1.jpg');">
        <div class="container">
          <div class="blocky"><h1 class="pull-left pull-middle light-color"><span><a href="#">Single Page App</a></span></h1></div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('assets/example/bg_smartphones.jpg');">
        <div class="container">
          <div class="blocky"><h1 class="pull-left pull-middle light-color"><span><a href="#">Make Fast Updates</a></span></h1></div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url('assets/example/bg_dogcat.jpg');">
        <div class="container">
          <div class="blocky"><h1 class="pull-left pull-middle light-color"><span><a href="#">About Your Brand</a></span></h1></div>
        </div>
      </div>
    </div>
	</div>
  	<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
  
  <script>
  $('.carousel').carousel();
  $('#myCarousel').on('slide',function(){
    $('.blocky').fadeOut(300);
  });
  $('#myCarousel').on('slid',function(){
    $('.blocky').fadeIn(600).animate({marginLeft:"+=12%"},200).animate({marginLeft:"-=15%"},300).animate({marginLeft:"+=4%"},600);
  });
  </script>