@* carousell Template File *@
@(param: Any)
<!-- <div id="myCarousel" class="carousel slide" style="margin-top: -170px;">  -->
  <div class="carousel-inner">
      <div class="active item fill" style="background-image:url('assets/user/img/portfolio/cake.png');">
          <div class="blocky"><h3 class="pull-left pull-middle light-color" style="margin-top: 100px;">
       test 1</h3></div>
      </div>
      <div class="fill item" style="background-image:url('assets/user/img/portfolio/cabin.png');">
          <div class="blocky"><h3 class="pull-left pull-middle light-color" style="margin-top: 100px;">
         test 2</h3></div>
    </div>
      <div class="fill item" style="background-image:url('assets/user/img/portfolio/game.png');">
          <div class="blocky"><h3 class="pull-left pull-middle light-color" style="margin-top: 100px;">
         test 3</h3></div>
    </div>
	</div>
 <!--  	<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div> --> 