@* checkIMEIModal Template File *@
@(title:String)


<section id="imeiStatus">
    <div class="headline">
    <h3>Check IMEI status</h3>
    </div>
    <h5>Ensure that you are not buying a lemon!</h5>
    <p>A lemon cell is analogous to a <a href="http://en.wikipedia.org/wiki/Lemon_(automobile)">lemon automobile</a> where 
									you find out problems, much after the purchase has been 
									made. If you buy a cell phone, which has a stolen record, 
									then you could get into multiple problems.<b>To check the cell
									 phone status</b>, all you need is the IMEI/MEID number of the
									  cell that you want to check. It is found printed inside 
									  the battery compartment of the phone. It can also be 
									  displayed on the screen of the phone by entering 
									  <b>*#06#</b> onto the keypad on most phones. Blackberry users click 
									  <a href="https://bis.na.blackberry.com/html/web/help/en/find_BB_PIN_IMEI_ESN_MEID_221674_11.html">here </a>.</p>
								<br>
								<h5 style="color: rgba(32, 75, 54, 1);">Coming Soon - Check IMEI by sending an <img src="@routes.Assets.at("user/img/msg.png")" alt="...">&nbsp;(premium service)</h5>
								<hr>
	
  <!-- Button to trigger modal -->
	<a href="#imeiStatusModal" class="portfolio-link" role="button"><button type="button"  id ="checkIMEI" class="btn md-trigger"  data-modal="modal-11">
  <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Click here to check IMEI status</button></a>							    
     
    <!-- Modal -->
    <div class="md-modal md-effect-11" id="modal-11" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="md-content">
                <div class="row">
                    <div class="col-md-12 modalStyle">
                        <div class="modal-body" style="text-align: left;">
                            <h3 style="color: rgba(228, 137, 0, 1);">Check Status Of IMEI number</h3>
                            <hr>
                            <p>Please Enter Mobile IMEI To Check Status:</p>
                            <p style="font-size: 14px;">Enter numbers only,  no dashes (e.g. 1234567890123457)</p>
                             <div class= "row">
							<div class= "col-md-4">
							<input type="text" class="form-control" id="imeiNum" name="imeiNum" placeholder="Enter IMEI..."/>
					        </div>
					        <div class="col-md-4">
							<button class="btn btn-warning" onClick="showMobileRecord()" id="showrecord">Search</button>
							</div>
							<div class="col-md-12" id="msg">
							</div>
							<div id="mobileRecords" class="col-md-12">
							</div>
						  </div>
						  <hr>
						  <button class="btn btn-success md-close" onClick="clearFields();">Close</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    </section>
    
	<script>
		// this is important for IEs
		var polyfilter_scriptpath = '/user/js/modalStyling/';
	</script>
    
	<script src="@routes.Assets.at("user/js/myscript/checkIMEIStatus.js")"></script>
	<script src="@routes.Assets.at("user/js/modalStyling/modernizr.custom.js")"></script>
	<script src="@routes.Assets.at("user/js/modalStyling/modalEffects.js")"></script>
	<script src="@routes.Assets.at("user/js/modalStyling/cssParser.js")"></script>
	<script src="@routes.Assets.at("user/js/modalStyling/css-filters-polyfill.js")"></script>    
    