@(regType: String, mobileRegistrationForm:Form[model.repository.MobileRegisterForm], brands:List[model.repository.Brand])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f)}
@helper.form(action =routes.MobileController.saveMobileUser, 'id->"mobileRegistrationForm",'enctype -> "multipart/form-data") {
<fieldset>
<style>
 input[type=text] { width: 250px;}
</style>
<div class="registrationHeader">
  <h3 style="text-align: center">Take one step to report your IMEI</h3>
	</div>	
	<font color="red"><center>Note : All Fields Are Mandatory</center></font>

	<input type="hidden" name="regType" id="regType" value=""> 
	<input type="hidden" name="document" id="document" value="">
	<div class="form-group">
		<label class="col-sm-4 control-label  " >Registration Type</label>
		<div class="col-sm-6">
			<label class="radio-inline"><input type="radio" name="regTypee" value="stolen" checked id="stolen">Stolen</label>
            <label class="radio-inline"><input type="radio" name="regTypee" value="clean" id="clean">Clean</label>
		</div>
	</div>
	@inputText(mobileRegistrationForm("userName"), '_label -> "Name",'class->"form-control")
	@inputText(mobileRegistrationForm("email"), '_label -> "Email",'class->"form-control")
	@select(field=mobileRegistrationForm("brandId"),options=brands.map(x=>
	(x.id.get.toString -> (x.name))).toSeq, '_label -> "Mobile Brand",
	'_default -> "-- Choose Brand Name --", '_showConstraints ->
	false,'class->"form-control inputField  ",'_error ->
	mobileRegistrationForm("brandId").error.map(_.withMessage("Mobile Brand Required")))

	@select(field=mobileRegistrationForm("modelId"),options=None.toSeq,
	'_label->"Mobile Model", '_default -> "-- Choose Mobile Model --",'class->"form-control inputField  ",
	'_showConstraints -> false,'_error ->
	mobileRegistrationForm("modelId").error.map(_.withMessage("Mobile Model Required")))
	
	<div class="form-group">
    <label class="col-sm-4 control-label  ">IMEI number</label>
    <label class="radio-inline col-sm-2" style="padding-left: 50px">
        <input type="radio" class="single" name="when" value="single" checked> <strong>Single</strong>
    </label>
    
    <label class="radio-inline col-sm-2">
        <input type="radio" class="dual" name="when" value="dual"> <strong>Dual</strong>
    </label>
</div>

        @inputText(mobileRegistrationForm("imei"), '_label -> "IMEI 1", 'maxlength -> 15,'class->"form-control", '_type -> "number")
    <div class="col-sm-12">
    <div class="collapse dual">
@inputText(mobileRegistrationForm("otherImei"), '_label -> "IMEI 2", 'maxlength -> 15,'class->"form-control")
</div>
</div>
	
	@inputText(mobileRegistrationForm("contactNo"), '_label -> "Mobile No.",'_type->"tel", 'pattern->"[0123456789+ ]{13,17}",'title->"Mobile number must be of 13 to 17 digit with code", 'maxlength->17,'class->"form-control")
 
 <div class="form-group">
		<label class="col-sm-4 control-label" for="fileUpload">Document(Image)</label>
		<div class="col-sm-6">
			<input id="fileUpload" type="file" name="fileUpload">
		</div>
	</div>
	
</fieldset>

<div class="form-group">
	<div class="col-lg-10 col-lg-offset-4">
		<button class="btn btn-success" type="submit" onClick="setValue();">Submit</button>
 		<button class="btn btn-warning" type="reset" onClick="clearForm();">Close</button>
	</div>
</div>
}

<script src="@routes.Assets.at("user/js/jquery.validate.min.js")"></script>
<script src="@routes.Assets.at("user/js/intlTelInput.min.js")" type="text/javascript"></script>

<!-- call imeiRegistrationForm javascript file -->
<script src="@routes.Assets.at("user/js/myscript/imeiRegistrationForm.js")"></script>
