@(regType: String, mobileRegistrationForm:Form[model.repository.MobileRegisterForm], brands:List[model.repository.Brand])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f)}
@helper.form(action =routes.MobileController.saveMobileUser, 'id->"mobileRegistrationForm",'enctype -> "multipart/form-data") {
<fieldset>
<style>
 input[type=text] { width: 250px;}
</style>
	<font color="red"><center>Note : All Fields Are Mandatory</center></font>

	<input type="hidden" name="regType" id="regType" value=""> 
	<input type="hidden" name="document" id="document" value="">
	<div class="form-group">
		<label class="col-sm-4 control-label" > </label>
		<div class="col-sm-6">
			<label class="radio-inline"><input type="radio" name="regTypee" class="single" value="stolen" checked id="stolen"><strong>Stolen</strong></label>
            <label class="radio-inline"><input type="radio" name="regTypee" class="single" value="clean" id="clean"><strong>Clean</strong></label>
		</div>
	</div>
	@inputText(mobileRegistrationForm("userName"),'_label -> " ",'class->"form-control",'placeholder -> "Name")
	@inputText(mobileRegistrationForm("email"), '_label -> " ",'class->"form-control",'placeholder -> "Email")
	@select(field=mobileRegistrationForm("brandId"),options=brands.map(x=>
	(x.id.get.toString -> (x.name))).toSeq, '_label -> " ",
	'_default -> "-- Choose Brand Name --", '_showConstraints ->
	false,'class->"form-control inputField  ",'_error ->
	mobileRegistrationForm("brandId").error.map(_.withMessage("Mobile Brand Required")))

	@select(field=mobileRegistrationForm("modelId"),options=None.toSeq,
	'_label->" ", '_default -> "-- Choose Mobile Model --",'class->"form-control inputField  ",
	'_showConstraints -> false,'_error ->
	mobileRegistrationForm("modelId").error.map(_.withMessage("Mobile Model Required")))
	
	<div class="form-group">
    <label class="col-sm-4 control-label"></label>
    <div class="col-sm-6">
    <label class="radio-inline"> <input type="radio" class="single" name="when" value="single" checked> <strong>Single</strong></label>
    
    <label class="radio-inline">
        <input type="radio" class="dual" name="when" value="dual"> <strong>Dual</strong>
    </label>
    </div>
</div>

        @inputText(mobileRegistrationForm("imei"), '_label -> " ", 'maxlength -> 15,'class->"form-control", 'placeholder -> "IMEI")
    <div class="collapse dual">
		@inputText(mobileRegistrationForm("otherImei"), '_label -> " ", 'maxlength -> 15,'class->"form-control",'placeholder -> "IMEI")
</div>
	
	@inputText(mobileRegistrationForm("contactNo"),'_label -> " ",'_type->"tel", 'pattern->"[0123456789+ ]{13,17}",'title->"Mobile number must be of 13 to 17 digit with code", 'maxlength->17,'class->"form-control",'placeholder -> "Contact No.")
 
 <div class="form-group">
		<label class="col-sm-4 control-label" for="fileUpload"></label>
		<div class="col-sm-6">
			<input id="fileUpload" type="file" name="fileUpload">
		</div>
	</div>
	
</fieldset>

<div class="form-group">
	<div class="col-lg-10 col-lg-offset-4">
		<button class="btn btn-success" type="submit" onClick="setValue();">Submit</button>
 		<button class="btn btn-warning" type="reset" onClick="clearForm();">Close</button>
	</div>
</div>
}

<script src="@routes.Assets.at("user/js/jquery.validate.min.js")"></script>
<!--<script src="@routes.Assets.at("user/js/intlTelInput.min.js")" type="text/javascript"></script> -->

<!-- call imeiRegistrationForm javascript file -->
<script src="@routes.Assets.at("user/js/myscript/imeiRegistrationForm.js")"></script>
