@* rightSidebar Template File *@ @(param: Any)
	<div class="row" style="margin-top: 5px;">
		<div class="col-md-4" style="text-align: right;">
			<img src="@routes.Assets.at("user/img/logo.png")" alt="...">
		</div>
		<div class="col-md-8" style="padding-top: 10px;">
			<h5
				style="text-align: center; color: rgba(239, 0, 0, 1); display: inline;">My
				cell was stolen</h5>
			<p style="font-style: oblique;">Making the mobile space secure</p>
		</div>
	</div>
	<hr>
	<div class="input-group" style="width: 250px;">
		<input type="text" class="form-control"
			placeholder="Search for this site..."> <span
			class="input-group-btn">
			<button class="btn btn-primary" type="button">Search</button>
		</span>
	</div>
	<hr>
	<!-- Render Twitter Feed Widget -->
	@views.html.socialmedia.twitterFeedWidget("render feed widget")
	<h4>Links</h4>
	<a href="">How does it work</a><br> <a href="">Register stolen
		phone</a><br> <a href="">Check mobile imei</a><br> <a href="">Rewards</a><br>
	<a href="">Win prizes</a><br>
	<hr>