@(mobileRegistrationForm: Form[model.repository.MobileRegisterForm], brands: List[model.repository.Brand], user: Option[model.repository.User])(implicit flash: Flash) 

@import helper._ 
@views.html.users.main("Mycellwasstolen: Register Form",user){ 
		<div class="page-header">
			<h2>Secure Your Phone</h2>
		</div>
				@flash.get("ERROR").map { message =>
						<div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                          <strong>@message</strong>
                        </div>
					}
					@flash.get("SUCCESS").map { message =>
						<div class="alert alert-dismissible alert-success">
                          <button type="button" class="close" data-dismiss="alert">×</button>
                           <strong>@message</strong>
                      </div
					}
				<div class="row">
					<div class="col-md-8">
					<h4 style="color: rgba(20, 182, 3, 1);">Register and be safe</h4>
					<p>Register your phone with us and Claim what is rightfully yours. </p>
						<div class="well form-horizontal">
						<h4 style="color: rgba(23, 110, 94, 1);">Please provide authentic IMEI proof</h4>
							 @registerForm("clean", mobileRegistrationForm, brands)
						</div>
					</div>
					<div class="col-md-4" style="padding-top: 60px;">
										<h3 style="color: rgba(177, 109, 8, 1);">Declare your Ownership</h3>
									<div color="color: #811A13;">
									 This is one of the best things you can do.
									 Not only would your information be safe 
									 with us but it would help us to inform 
									 you immediately if someone else tries to 
									 register your cell phone IMEI in his name.
									 Once your ownership is authenticated by
									 MCWS database, we would send out an alarm
									 to you via an SMS / email immediately if 
									 someone else tries to register the IMEI again.
									<img style="margin-left: 10px;" src="@routes.Assets.at("user/img/success.png")" alt="..." />
									</div>
									<img style="margin-left: 65px;" src="@routes.Assets.at("user/images/claim.jpg")" alt="..." />
								</div>
				</div>
} 
