@* googlePlusFollow Template File *@
@(param: Any)
<div class="g-plus" data-annotation="bubble" data-height="24" data-href="//plus.google.com/101596762455378096324" data-action="share"></div>
                <!-- Place this tag after the last share tag. -->
                   <script src="@routes.Assets.at("user/js/myscript/gplus.js")"></script>
	    		<!-- Place this tag where you want the widget to render. -->
				<div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/101596762455378096324" data-rel="publisher">
				</div>
				<!-- Place this tag after the last widget tag. -->
				<script src="@routes.Assets.at("user/js/myscript/gplusfollow.js")"></script>

