@* linkedinShare Template File *@
@(param: Any)
		<script src="//platform.linkedin.com/in.js" type="text/javascript">
			lang: en_US
		</script>
           		<script type="IN/Share" data-url="http://www.mycellwasstolen.com/" data-counter="right">
				</script>
		    	<span class="fb-like" data-href="https://www.facebook.com/mycellwasstolen.mcws" data-width="200" data-show-faces="false" data-send="true"></span>
		    		<a href="https://twitter.com/mycellwasstolen" class="twitter-follow-button" data-show-count="true" data-size="medium">Follow</a>
				   <script src="@routes.Assets.at("user/js/myscript/twitterfollow.js")"></script>
				