@(user: Option[model.domains.Domain.User])
@main("Mycellwasstolen: Blogs",user) {

<div class="container">
	
	<div class="page-header">
			<h1>Blogs</h1>
		</div>
		<div class="panel panel-success">
		<div class="panel-heading">
				<h3 class="panel-title">My Cell Was Stolen</h3>
			</div>
	<div class="panel-body">
	<div class="announcement">
<h4>
<span id="sites-page-title" dir="ltr">Android, BlackBerry, Windows or iOS, Safety First ! Keeping Your Cell Safe</span>
</h4>
<span class="timestamp">
<script type="text/javascript">
//<![CDATA[
function JOT_insertRelDate(timestamp, absTimeStr, isSiteLocale, dir) {
var relTimeStr = JOT_formatRelativeToNow(timestamp, isSiteLocale);
if (relTimeStr) {
if (isSiteLocale) {
document.write('<span timestamp="' + timestamp + '" issitelocale="' + isSiteLocale +
'" title="' + absTimeStr + '" dir="' + dir + '">' + relTimeStr + '<' + '/span>');
} else {
document.write('<span timestamp="' + timestamp + '" title="' + absTimeStr +
'" dir="' + dir + '">' + relTimeStr + '<' + '/span>');
}
} else {
document.write(absTimeStr);
}
}
//]]>
</script>
posted
<span dir="ltr">Mar 18, 2012, 11:35 AM</span>
by Vikas Hazrati
</span>
<p> </p>
<table class="sites-layout-name-one-column sites-layout-hbox" cellspacing="0">
<tbody>
<tr>
<td class="sites-layout-tile sites-tile-name-content-1">
<div dir="ltr">
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">
content courtesy - 
<a href="http://www.pcworld.com/businesscenter/article/216420/smartphone_security_how_to_keep_your_handset_safe.html">http://www.pcworld.com/businesscenter/article/216420/smartphone_security_how_to_keep_your_handset_safe.html</a>
</p>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">
<br>
</p>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">Once upon a time, a phone was just a phone: It simply made and received calls. The only security you worried about was if someone had picked up in the other room to listen in.</p>
<div style="font-size:12px;float:left;width:200px;margin-top:0px;margin-right:10px;margin-bottom:10px;margin-left:0px;padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-color:rgb(221,221,221);border-right-color:rgb(221,221,221);border-bottom-color:rgb(221,221,221);border-left-color:rgb(221,221,221);color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">
<div style="color:rgb(110,142,60);margin-top:5px;margin-right:0px;margin-bottom:10px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;text-transform:uppercase">SIMILAR ARTICLES:</div>
<ul style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:1px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:none;list-style-position:initial;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;border-style:initial;border-color:initial;border-style:initial;border-color:initial">
<li style="margin-top:0px;margin-right:0px;margin-bottom:8px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:none;list-style-position:outside;display:block;line-height:14px">
<div>
<a style="text-decoration:none;color:rgb(26,97,160)" href="http://www.pcworld.com/article/250040/how_to_locate_your_unprotected_android_device.html#tk.mod_stln">How to Locate Your Unprotected Android Device</a>
</div>
</li>
<li style="margin-top:0px;margin-right:0px;margin-bottom:8px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:none;list-style-position:outside;display:block;line-height:14px">
<div>
<a style="text-decoration:none;color:rgb(26,97,160)" href="http://www.pcworld.com/article/242242/how_to_use_wireless_sync_in_ios_5.html#tk.mod_stln">How to Use Wireless Sync in iOS 5</a>
</div>
</li>
<li style="margin-top:0px;margin-right:0px;margin-bottom:8px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:none;list-style-position:outside;display:block;line-height:14px">
<div>
<a style="text-decoration:none;color:rgb(26,97,160)" href="http://www.pcworld.com/article/234966/tips_for_a_malwarefree_android_smartphone.html#tk.mod_stln">Tips for a Malware-Free Android Smartphone</a>
</div>
</li>
<li style="margin-top:0px;margin-right:0px;margin-bottom:8px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:none;list-style-position:outside;display:block;line-height:14px">
<div>
<a style="text-decoration:none;color:rgb(26,97,160)" href="http://www.pcworld.com/article/242241/how_to_use_shortcuts_in_ios_5.html#tk.mod_stln">How to Use Shortcuts in iOS 5</a>
</div>
</li>
<li style="margin-top:0px;margin-right:0px;margin-bottom:8px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:none;list-style-position:outside;display:block;line-height:14px">
<div>
<a style="text-decoration:none;color:rgb(26,97,160)" href="http://www.pcworld.com/article/243476/how_to_boost_your_smartphone_battery_life.html#tk.mod_stln">How to Boost Your Smartphone Battery Life</a>
</div>
</li>
<li style="margin-top:0px;margin-right:0px;margin-bottom:8px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:none;list-style-position:outside;display:block;line-height:14px">
<div>
<a style="text-decoration:none;color:rgb(26,97,160)" href="http://www.pcworld.com/article/249148/was_your_email_account_hacked_pwnedlist_can_tell_you.html#tk.mod_stln">Was Your Email Account Hacked? PwnedList Can Tell You</a>
</div>
</li>
</ul>
</div>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">Flash forward to 2011, and the line between phones and computers has all but vanished. In fact, your smartphone is likely more powerful and feature-rich than your desktop computer was just ten years ago.</p>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">
With that increased utility, though, comes 
<a style="text-decoration:none;color:rgb(26,97,160);clear:none" href="http://www.pcworld.com/businesscenter/article/209346/security_becomes_top_priority_for_smartphone_users.html">more vulnerability</a>
. Having a wealth of information--personal and otherwise--in your device 
<a style="text-decoration:none;color:rgb(26,97,160);clear:none" href="http://www.pcworld.com/businesscenter/article/187053/smartphone_security_next_big_thing.html">makes your phone a target</a>
, and as the bad guys ramp up their efforts to infiltrate it, the good guys are gearing up their efforts to keep the bad guys out.
</p>
<h2 style="font-size:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">
<a name="TOC-Does-Smartphone-Security-Really-Matter-"></a>
Does Smartphone Security Really Matter?
</h2>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">The short answer is yes, absolutely, more and more. The degree to which it matters, however, depends on the individual user, or the individual company.</p>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">
<a style="text-decoration:none;color:rgb(26,97,160);clear:none" href="http://www.pcworld.com/businesscenter/article/215836/search_ruling_makes_smartphone_security_more_crucial.html">Threats to your mobile security</a>
 are not always easy to see. They range from the simple (such as when someone finds your phone and reads all of your e-mail) to the highly complex (such as Trojan horses, viruses, or third-party apps that share your personal information).
</p>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">Here are some common security risks, with tips, tricks, and tools to combat them.</p>
<h2 style="font-size:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">
<a name="TOC-Don-t-Lose-Your-Phone"></a>
Don't Lose Your Phone
</h2>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">
This may seem like a no-brainer, but don't 
<a style="text-decoration:none;color:rgb(26,97,160);clear:none" href="http://www.pcworld.com/article/194637/apple_screwed_up_handling_iphone_gizmogate.html">put your phone down on a bar</a>
 (especially if you work for Apple and have a prototype that no one is supposed to see). If you're in a public area, don't put it in a pocket or an open bag where it's visible and could be grabbed easily. Obvious suggestions, sure, but these kinds of on-the-street situations account for most cases of phone theft.
</p>
<h2 style="font-size:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">
<a name="TOC-Your-First-Line-of-Defense"></a>
Your First Line of Defense
</h2>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">Set your phone to lock, or time out, after a certain period of inactivity, requiring a password to get back in. All of the major smartphone operating systems support this function.</p>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">
You'll want your password to be something hard for you to forget and easy to type since you'll enter it frequently throughout the day, yet difficult for someone else to guess. Anything containing your name, information found on a driver's license, or a number as simple as "1234," for example, are 
<a style="text-decoration:none;color:rgb(26,97,160);clear:none" href="http://www.pcworld.com/businesscenter/article/215456/the_day_of_the_password_is_done.html">not good passwords</a>
.
</p>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">Here's how to find time-out settings on various smartphone OSs:</p>
<ul style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:none;list-style-position:initial;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255);font-size:medium">
<li style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:20px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:disc;list-style-position:outside;font-size:14px">
<strong>Android:</strong>
 Previously, Android supported only pattern unlock (in which you draw a pattern to access the phone), but with version 2.2 of the OS, it now supports PINs and passwords. From the home screen, press 
<em>Menu, Settings, Location & Security,</em>
 and under Screen Unlock you'll find many options for setting passwords. To set the screen time-out, however, you must go back to the 
<em>Settings</em>
 menu and this time click 
<em>Display.</em>
 (Hint: If you decide to go with the pattern unlock, create a complex one that crosses over itself, or someone might deduce your pattern from the repeated smudge marks on your screen).
</li>
<li style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:20px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:disc;list-style-position:outside;font-size:14px">
<strong>BlackBerry:</strong>
 From the home screen click 
<em>Options, Security Options, General Settings.</em>
 There you'll see options to enable the password, set or change the password, and set the security time-out options.
</li>
<li style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:20px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:disc;list-style-position:outside;font-size:14px">
<strong>iOS:</strong>
 Earlier versions of iOS allow only for a four-digit PIN unlock code (which isn't ideal). Luckily iOS 4 introduced the option to set a longer password. Open the 
<em>Settings</em>
 app, and then select 
<em>General, Passcode Lock.</em>
 Just above Passcode Lock is the Auto-Lock option, which controls the time-out.
</li>
<li style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:20px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:disc;list-style-position:outside;font-size:14px">
<strong>Windows Phone 7:</strong>
 Open 
<em>Settings,</em>
 and then select 
<em>Lock and Wallpaper.</em>
 From there you can set or change the password, and also set the screen time-out.
</li>
</ul>
<h2 style="font-size:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">
<a name="TOC-Your-Second-Line-of-Defense"></a>
Your Second Line of Defense
</h2>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">
<span style="max-width:180px;float:right;margin-top:0px;margin-right:0px;margin-bottom:10px;margin-left:10px;overflow-x:hidden;overflow-y:hidden">
<img width="130" height="75" style="float:right;max-width:606px;height:auto" src="http://zapp5.staticworld.net/home/graphics/hp_030306_preventAttacks.jpg" alt="">
<span style="font-size:11px;color:rgb(136,136,136);display:block;margin-top:5px;margin-right:0px;margin-bottom:0px;margin-left:0px;line-height:15px">
<span>Graphic: Chip Taylor</span>
</span>
</span>
Remote wipe, plus the aforementioned password protection, is the bare minimum that most IT departments will require, although the specific steps you'll need to take very much depend on the level of security at your company.
</p>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">Remote wipe means that if your phone is lost or stolen, you can remotely clear all of your data--including e-mail, contacts, texts, and documents--off of the handset, thus keeping that information out of the wrong hands.</p>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">You or your IT department can set this feature up for any of the major OSs, as well as use Microsoft Exchange to wipe the device (provided that you have an Exchange account). Those people without Exchange accounts or IT departments have other, simpler options.</p>
<ul style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:none;list-style-position:initial;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255);font-size:medium">
<li style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:20px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:disc;list-style-position:outside;font-size:14px">
<strong>Android, BlackBerry, and Windows Phone 7:</strong>
 If your OS is among one of these, you're in luck, as you can find many fantastic third-party applications that allow you to remotely wipe your device. 
<a style="text-decoration:none;color:rgb(26,97,160)" href="http://www.pcworld.com/appguide/app.html?id=449285&expand=false">Lookout Mobile Security</a>
 is just one example that not only enables you to wipe your device via the Web but also lets you track a lost device through GPS, back up your data over the air, and even scan for viruses. Its basic version is free, but to enable advanced features such as remote wipe you will have to pay for a Premium account ($3 a month or $30 a year). You'll encounter big players in the security-app game, too; for instance,
<a style="text-decoration:none;color:rgb(26,97,160)" href="http://www.pcworld.com/businesscenter/article/213762/notify_technology_unveils_ondemand_mobile_device_management.html">NotifyMDM</a>
, 
<a target="_blank" style="text-decoration:none;color:rgb(26,97,160)" href="http://www.symantec.com/business/theme.jsp?themeid=mobile-security-management&API1=100&API2=4165004">Symantec</a>
, and 
<a target="_blank" style="text-decoration:none;color:rgb(26,97,160)" href="http://zenprise.com/products/zenprise_mobilemanager/">Zenprise</a>
 sell multiple-mobile-device management systems to companies.
</li>
<li style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:20px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;list-style-type:disc;list-style-position:outside;font-size:14px">
<strong>iOS:</strong>
 iPhone remote wipe is a bit trickier. If you have iOS 4.2 or higher, you can simply download the Find My Phone app from the App Store, and enable it in MobileMe in the Settings app. If you lose your phone, you can log in using 
<a style="text-decoration:none;color:rgb(26,97,160)" href="http://www.pcworld.com/businesscenter/article/199324/mobileme_may_find_its_niche_in_small_business.html">MobileMe</a>
 via Apple's Website to track it, display a message, or wipe it. If you have an older version of iOS, though, you'll need a paid MobileMe account, which costs a steep $99 a year. Plus, you'll have to enable the function by going to 
<em>Settings, </em>
choosing 
<em>Mail, Contacts, Calendars,</em>
 and clicking 
<em>Fetch New Data </em>
then
<em> Enable Push</em>
. Afterward, return to the 'Mail, Contacts, Calendar' screen and select your MobileMe account.
</li>
</ul>
<p style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;line-height:18px;color:rgb(26,26,26);font-family:Arial,Helvetica,Geneva,sans-serif;background-color:rgb(255,255,255)">Note that all of the apps and services mentioned in this section, as well as other tools (such as Mobile Defense and Where's My Droid?), can help you find your phone via GPS. These apps have drawn attention lately, as their usage has led to the arrest of several thieves and carjackers.</p>
</div>
</td>
</tr>
</tbody>
</table>
<p></p>
<div class="postfooter">
<p> </p>
</div>
</div>
	
	
	<!-- <div class="span6" style="padding-left: 20px;"> -->
	<div class="panel-body">For any further information write to us at <h4>info&#64;mycellwasstolen.com</h4>
	
	
</div>
</div>
</div>
</div>
























}

