@main("Contact us",user=None) {
<div class="container">
	
	<div class="page-header">
			<h1>Contact Us</h1>
		</div>
		<div class="panel panel-success">
		<div class="panel-heading">
				<h3 class="panel-title">Contact Us</h3>
			</div>
	<div class="panel-body">I need other information, help me ... 
	We would love to hear from you. Write to us at <h4>info&#64;mycellwasstolen.com</h4>
	
	
	<!-- <div class="span6" style="padding-left: 20px;"> -->
	<h3>Follow us on:</h3>
	<a href="https://plus.google.com/u/0/104973335853978601065/posts"><img src="@routes.Assets.at("images/googleplus_logo.png")" alt="..." class="img-thumbnail"></img></a>
	<a href="http://www.linkedin.com/profile/view?id=219381188&trk=nav_responsive_tab_profile_pic"><img src="@routes.Assets.at("images/link.png")" alt="..." class="img-thumbnail"></img></a>
	<a href="https://twitter.com/mycellwasstolen"><img src="@routes.Assets.at("images/tw.png")" alt="..." class="img-thumbnail"></img></a>
	<a href="https://www.facebook.com/mycellwasstolen.mcws"><img src="@routes.Assets.at("images/face.jpg")" alt="..." class="img-thumbnail"></img></a>
	<!-- </div> -->
</div>
</div>
</div>
}