@(mobilenameform: Form[model.repository.BrandForm],user: Option[model.repository.User])(implicit flash: Flash)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Mycellwasstolen",user){ 
	<div class="container">
		<div class="page-header">
			<h1>Register Mobile Name</h1>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Add New Mobile Name</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					@flash.get("ERROR").map { message =>
						<div class="alert alert-dismissable alert-danger">
							<strong>@message</strong>
						</div>
					}
					
					@flash.get("SUCCESS").map { message =>
						<div class="alert alert-dismissable alert-success">
							<strong>@message</strong>
						</div>
					}
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="well form-horizontal">
							@helper.form(action = routes.MobileController.saveBrand, 'id ->"mobileNameForm") {
								<fieldset>
									@inputText(mobilenameform("name"), '_label -> "Mobile Brand")
								</fieldset>
						<div class="form-group">
									<div class="col-lg-10 col-lg-offset-4">
										<button class="btn btn-primary" type="submit">Submit</button>
										<button class="btn btn-default" type="reset">Cancel</button>
									</div>
								</div>
							}
						</div>
					</div>
					
				</div>
			</div>
		</div>
    </div>
    
    <script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/additional-methods.js")" type="text/javascript"></script>
    <script type="text/javascript">
	    
	    $( "#mobileNameForm" ).validate({
	    	rules: {
	    		mobileName: {
	    			required: true
	    		}
	    	}
	    });
	   
	</script>
} 

