@(createmobilemodelform: Form[model.domains.Domain.MobilesModelForm], mobilesName: List[model.domains.Domain.Brand])(implicit flash: Flash)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Mycellwasstolen"){ 
	<div class="container">
		<div class="page-header">
			<h1>Register Mobile Modal</h1>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Add New Mobile Modal</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					@flash.get("ERROR").map { message =>
						<div class="alert alert-dismissable alert-danger">
							<strong>@message</strong>
						</div>
					}
					
					@flash.get("SUCCESS").map { message =>
						<div class="alert alert-dismissable alert-success">
							<strong>@message</strong>
						</div>
					}
				</div>
				<div class="row">
					<div class="col-lg-8">
						<div class="well form-horizontal">
							@helper.form(action = routes.MobileController.createMobileModel, 'id ->"mobileModelForm") {
							 <fieldset>
								@select(field=createmobilemodelform("mobileName"),options=mobilesName.map(x=>
									(x.id.get.toString -> (x.name))).toSeq, '_label -> "Mobile Name",
									'_default -> "-- Choose Mobile Name --", '_showConstraints ->
									false,'_error ->
									createmobilemodelform("mobileName").error.map(_.withMessage("Mobile	Name Required")))
	
								@inputText(createmobilemodelform("mobileModel"), '_label -> "Mobile Model")
							 </fieldset>
							 <div class="form-group">
								<div class="col-lg-10 col-lg-offset-4">
									<button class="btn btn-primary" type="submit">Submit</button>
									<button class="btn btn-default" type="reset">Cancel</button>
								</div>
							 </div>
						  }
						</div>
					</div>
					<div class="col-lg-4">
						<div class="well">
							Info part
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    
    <script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/additional-methods.js")" type="text/javascript"></script>
    <script type="text/javascript">
	    
	    $( "#mobileModelForm" ).validate({
	    	rules: {
	    		mobileName: {
	    			required: true
	    		}
	    	}
	    });
	   
	</script>
} 

