@(user: Option[model.domains.Domain.User])
@main("Mycellwasstolen: Blogs",user) {
<div class="container">
	
	<div class="page-header">
			<h1>FAQs</h1>
		</div>
		<div class="panel panel-success">
		<div class="panel-heading">
				<h3 class="panel-title">Frequently Asked Question</h3>
			</div>
	<div class="panel-body">Many of the questions below have been fished from the discussion forum. Thank you for all your contributions.
	
	
	
	<!-- <div class="span6" style="padding-left: 20px;"> -->
	<div class="panel-body">For any further information write to us at <h4>info&#64;mycellwasstolen.com</h4>
	
	<h3>Follow us on:</h3>
	<a href="https://plus.google.com/u/0/104973335853978601065/posts"><img src="@routes.Assets.at("images/googleplus_logo.png")" alt="..." class="img-thumbnail"></img></a>
	<a href="http://www.linkedin.com/profile/view?id=219381188&trk=nav_responsive_tab_profile_pic"><img src="@routes.Assets.at("images/link.png")" alt="..." class="img-thumbnail"></img></a>
	<a href="https://twitter.com/mycellwasstolen"><img src="@routes.Assets.at("images/tw.png")" alt="..." class="img-thumbnail"></img></a>
	<a href="https://www.facebook.com/mycellwasstolen.mcws"><img src="@routes.Assets.at("images/face.jpg")" alt="..." class="img-thumbnail"></img></a>
	<!-- </div> -->
</div>
</div>
</div>
</div>
}