@(message: String)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" itemscope=""
	itemtype="http://schema.org/WebPage">
<head>
<meta http-equiv="X-UA-Compatible" content="chrome=1" />

<link rel="shortcut icon"
	href="/a/mycellwasstolen.com/stolencell/_/rsrc/1303924960678/favicon.ico"
	type="image/x-icon" />
<link rel="apple-touch-icon"
	href="https://ssl.gstatic.com/sites/p/8d7917/system/app/images/apple-touch-icon.png"
	type="image/png" />


<meta name="title" content="stolencell" />
<meta itemprop="name" content="stolencell" />
<meta property="og:title" content="stolencell" />
<meta name="description"
	content="This is a community driven social site which aims to break the cell phone theft cycle. It aspires to do this by making a social database accessible by people where they can check stolen IMEI numbers." />
<meta itemprop="description"
	content="This is a community driven social site which aims to break the cell phone theft cycle. It aspires to do this by making a social database accessible by people where they can check stolen IMEI numbers." />
<meta id="meta-tag-description" property="og:description"
	content="This is a community driven social site which aims to break the cell phone theft cycle. It aspires to do this by making a social database accessible by people where they can check stolen IMEI numbers." />
<meta itemprop="image"
	content="/a/mycellwasstolen.com/stolencell/_/rsrc/1318091274394/config/customLogo.gif?revision=25" />
<meta property="og:image"
	content="/a/mycellwasstolen.com/stolencell/_/rsrc/1318091274394/config/customLogo.gif?revision=25" />
<style type="text/css">
</style>
<link rel="stylesheet" type="text/css"
	href="https://ssl.gstatic.com/sites/p/8d7917/system/app/themes/simplywhite/standard-css-simplywhite-ltr-ltr.css" />
<link rel="stylesheet" type="text/css"
	href="/a/mycellwasstolen.com/stolencell/_/rsrc/1384163560000/system/app/css/overlay.css?cb=simplywhite15a90%25160250goog-ws-nav-nosidecontent30middlestandard" />
<link rel="stylesheet" type="text/css"
	href="/a/mycellwasstolen.com/stolencell/_/rsrc/1384163560000/system/app/css/camelot/allthemes-view.css" />
<!--[if IE]>
          <link rel="stylesheet" type="text/css" href="/a/mycellwasstolen.com/stolencell/system/app/css/camelot/allthemes%2die.css" />
        <![endif]-->
<title>stolencell</title>

</head>
<body xmlns="http://www.google.com/ns/jotspot" id="body"
	class=" en            ">

	<div class="sites-layout-tile sites-tile-name-footer">
		<div dir="ltr">
			<div>
				<table border="0" bordercolor="#888888" cellspacing="0"
					style="width: 100%; border-collapse: collapse; border-color: rgb(136, 136, 136); border-width: 0px">
					<tbody>
						<tr>
							<td style="width: 65px"><img border="0"
								src="https://sites.google.com/a/mycellwasstolen.com/stolencell/_/rsrc/1303924960678/help.png"
								style="display: inline; float: right; margin-top: 5px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px" /></td>
							<td style="width: 600px"><b><font size="4"><div
											style="display: inline; float: left; margin-top: 5px; margin-right: 10px; margin-bottom: 0px; margin-left: 0px"></div>
										<div
											style="display: inline; float: left; margin-top: 5px; margin-right: 10px; margin-bottom: 0px; margin-left: 0px">
											<a
												href="https://sites.google.com/a/mycellwasstolen.com/stolencell/data/mcws-footer-orange1.png?attredirects=0"
												imageanchor="1"><img border="0"
												src="https://sites.google.com/a/mycellwasstolen.com/stolencell/_/rsrc/1318098077221/data/mcws-footer-orange1.png" /></a>
										</div>
										<br />(c) MCWS A social movement making the mobile space
										secure</font></b><br />
							<br /></td>
							<td style="width: 20%"><br /></td>
							<td style="width: 100px">
								<div style="display: block; text-align: left">
									<a
										href="https://sites.google.com/a/mycellwasstolen.com/stolencell/check-cell-status"
										imageanchor="1"><img border="0"
										src="https://sites.google.com/a/mycellwasstolen.com/stolencell/_/rsrc/1303924960678/Prev.png" /></a>
								</div>
							</td>
							<td style="width: 100px">
								<div
									style="display: block; margin-left: auto; text-align: right">
									<a
										href="https://sites.google.com/a/mycellwasstolen.com/stolencell/check-cell-status"
										imageanchor="1"><img border="0"
										src="https://sites.google.com/a/mycellwasstolen.com/stolencell/_/rsrc/1303924960678/Next.png" /></a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
	<div id="sites-canvas-bottom-panel"></div>
	</div>
	</td>
	</tr>
	</table>
	</div>
	</div>
	<div id="sites-chrome-footer-wrapper">
		<div id="sites-chrome-footer-wrapper-inside">
			<div id="sites-chrome-footer">
				<div xmlns="http://www.w3.org/1999/xhtml" class="sites-subfooter">
					<div class="sites-subfooter-content">
						<div dir="ltr">
							<br />
							<table bgcolor="#6aa84f" border="0" cellpadding="0"
								cellspacing="0" width="100%">
								<tbody>
									<tr>
										<td style="width: 183px; height: 132px"><b><br />
											<br />Tools</b><br /> <br /> <a
											href="https://sites.google.com/a/mycellwasstolen.com/stolencell/check-cell-status">Check
												Mobile Status</a><br /> <a
											href="https://sites.google.com/a/mycellwasstolen.com/stolencell/register-stolen-phone">Register
												Lost Phone</a><br /> <a
											href="https://sites.google.com/a/mycellwasstolen.com/stolencell/the-question">Register
												New Phone</a></td>
										<td style="width: 151px; height: 132px"><b><br />
											<br />Products</b><br />
											<p style="margin-bottom: 0cm">
												<b>RecoverMyPhone®</b>
											</p> <b>PoisonPill®</b><br /> Security Products</td>
										<td style="width: 138px; height: 132px"><br /> <b><br />
											<br />Popular Blogs</b><br /> <br />
										<a
											href="http://www.mycellwasstolen.com/blog/findingastolencellphone"
											rel="nofollow">Finding Stolen Cell</a><br />
										<a
											href="http://www.mycellwasstolen.com/blog/okilostitwhatnext"
											rel="nofollow">OK I lost it, what next</a><br />
										<a
											href="http://www.mycellwasstolen.com/blog/tipstopreventcellphonetheft"
											rel="nofollow">Tips to save your cell</a><br /></td>
										<td style="width: 50px; height: 132px"></td>
									</tr>
									<tr>
										<td style="width: 183px; height: 18px"><b><br />
											<br />Industry Relations</b><br /> <br /> <a
											href="https://sites.google.com/a/mycellwasstolen.com/stolencell/contact-us">Advertise</a><br />
											<a
											href="https://sites.google.com/a/mycellwasstolen.com/stolencell/contact-us">Linking
												Policy</a><br /> <br />
										<br />
										<br />
										<br /></td>
										<td style="width: 151px; height: 18px"><b>Help</b> <br />
											<br /> <a
											href="https://sites.google.com/a/mycellwasstolen.com/stolencell/faqs">FAQs</a><br />
											<a
											href="https://sites.google.com/a/mycellwasstolen.com/stolencell/contact-us">Contact
												us</a><br />
										<br /> <br /></td>
										<td style="width: 138px; height: 18px"></td>
										<td style="width: 50px; height: 18px"></td>
									</tr>
								</tbody>
							</table>
							<div style="text-align: -webkit-auto">
								<br />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	<div id="sites-chrome-adminfooter-container">
		<div xmlns="http://www.w3.org/1999/xhtml" class="sites-adminfooter">
			<p>
				<a class="sites-system-link"
					href="https://www.google.com/accounts/AddSession?service=jotspot&amp;continue=https://sites.google.com/a/mycellwasstolen.com/stolencell/data">Sign
					in</a>|<a class="sites-system-link"
					href="/a/mycellwasstolen.com/stolencell/system/app/pages/reportAbuse"
					target="_blank">Report Abuse</a>|<a class="sites-system-link"
					href="javascript:;" onclick="window.open(webspace.printUrl)">Print
					Page</a>|<a class="sites-system-link"
					href="/a/mycellwasstolen.com/stolencell/system/app/pages/removeAccess"
					target="_blank">Remove Access</a>|<span class="sites-system-link">Powered
					By</span> <b class="powered-by"><a href="http://sites.google.com">Google
						Sites</a></b>
			</p>
		</div>
	</div>
	</div>
	</div>
	<div id="sites-chrome-onebar-footer"></div>
</body>
</html>