@(formExample: Form[(String, String, String, String)])(implicit flash: Flash) 

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Mycellwasstolen",user=None){ 
	<div class="container">
		<div class="page-header">
			<h1>Header Info</h1>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Form Name</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					@flash.get("ERROR").map { message =>
						<div class="alert alert-dismissable alert-danger">
							<strong>@message</strong>
						</div>
					}
					
					@flash.get("SUCCESS").map { message =>
						<div class="alert alert-dismissable alert-success">
							<strong>@message</strong>
						</div>
					}
				</div>
				<div class="row">
					<div class="col-lg-8">
						<div class="well form-horizontal">
							@helper.form(action = routes.Application.handleFormExample, 'id -> "textValidationForm") {
								<fieldset>
									@inputText(formExample("name"), args = 'class -> "form-control")
									@inputText(formExample("email"), args = 'class -> "form-control")
									@inputPassword(formExample("password"), args = 'class -> "form-control")
									@inputPassword(formExample("confPassword"), args = 'class -> "form-control")
								</fieldset>
								<div class="form-group">
									<div class="col-lg-10 col-lg-offset-4">
										<button class="btn btn-primary" type="submit">Submit</button>
										<button class="btn btn-default" type="reset">Cancel</button>
									</div>
								</div>
							}
						</div>
					</div>
					<div class="col-lg-4">
						<div class="well">
							Info part
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    
    <script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/additional-methods.js")" type="text/javascript"></script>
    <script type="text/javascript">
    
	    $( "#textValidationForm" ).validate({
	    	rules: {
	    		name: {
	    			required: true
	    		},
	    		email: {
	    			required: true,
	    			email: true
	    		},
	    		password: {
	    			required: true,
	    			minlength: 8
	    		},
	    		confPassword: {
	    			required: true,
	    			equalTo: "#password"
	    		}
	    	}
	    });
			
	</script>
} 
