@(message: String)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" itemscope=""
	itemtype="http://schema.org/WebPage">
<head>
<meta http-equiv="X-UA-Compatible" content="chrome=1" />

<link rel="shortcut icon"
	href="/a/mycellwasstolen.com/stolencell/_/rsrc/1303924960678/favicon.ico"
	type="image/x-icon" />
<link rel="apple-touch-icon"
	href="https://ssl.gstatic.com/sites/p/8d7917/system/app/images/apple-touch-icon.png"
	type="image/png" />


<meta name="title" content="stolencell" />
<meta itemprop="name" content="stolencell" />
<meta property="og:title" content="stolencell" />
<meta name="description"
	content="This is a community driven social site which aims to break the cell phone theft cycle. It aspires to do this by making a social database accessible by people where they can check stolen IMEI numbers." />
<meta itemprop="description"
	content="This is a community driven social site which aims to break the cell phone theft cycle. It aspires to do this by making a social database accessible by people where they can check stolen IMEI numbers." />
<meta id="meta-tag-description" property="og:description"
	content="This is a community driven social site which aims to break the cell phone theft cycle. It aspires to do this by making a social database accessible by people where they can check stolen IMEI numbers." />
<meta itemprop="image"
	content="/a/mycellwasstolen.com/stolencell/_/rsrc/1318091274394/config/customLogo.gif?revision=25" />
<meta property="og:image"
	content="/a/mycellwasstolen.com/stolencell/_/rsrc/1318091274394/config/customLogo.gif?revision=25" />
<style type="text/css">
</style>
<link rel="stylesheet" type="text/css"
	href="https://ssl.gstatic.com/sites/p/8d7917/system/app/themes/simplywhite/standard-css-simplywhite-ltr-ltr.css" />
<link rel="stylesheet" type="text/css"
	href="/a/mycellwasstolen.com/stolencell/_/rsrc/1384163560000/system/app/css/overlay.css?cb=simplywhite15a90%25160250goog-ws-nav-nosidecontent30middlestandard" />
<link rel="stylesheet" type="text/css"
	href="/a/mycellwasstolen.com/stolencell/_/rsrc/1384163560000/system/app/css/camelot/allthemes-view.css" />
<!--[if IE]>
          <link rel="stylesheet" type="text/css" href="/a/mycellwasstolen.com/stolencell/system/app/css/camelot/allthemes%2die.css" />
        <![endif]-->
<title>stolencell</title>

</head>
<body xmlns="http://www.google.com/ns/jotspot" id="body"
	class=" en            ">
	<div id="sites-page-toolbar" class="sites-header-divider">
		<div xmlns="http://www.w3.org/1999/xhtml" id="sites-status"
			class="sites-status" style="display: none;">
			<div id="sites-notice" class="sites-notice" role="status"
				aria-live="assertive"></div>
		</div>
	</div>
	<div id="sites-chrome-everything-scrollbar">
		<div id="sites-chrome-everything">
			<div id="sites-chrome-page-wrapper" style="direction: ltr">
				<div id="sites-chrome-page-wrapper-inside">
					<div xmlns="http://www.w3.org/1999/xhtml"
						id="sites-chrome-header-wrapper" style="">
						<table id="sites-chrome-header" class="sites-layout-hbox"
							cellspacing="0" style="">
							<tr class="sites-header-primary-row" id="sites-chrome-userheader">
								<td id="sites-header-title"
									class="sites-chrome-header-valign-middle" style="height: 160px">
									<div class="sites-header-cell-buffer-wrapper">
										<h2>
											<a href="#" id="sites-chrome-userheader-logo"> <img
												id="logo-img-id" src="@routes.Assets.at("images/customLogo.png")"
												 alt="stolencell"
												class="sites-logo sites-chrome-header-valign-middle" /></a>
										</h2>
									</div>
								</td>
								<td
									class="sites-layout-searchbox sites-chrome-header-valign-middle">
									<div class="sites-header-cell-buffer-wrapper">
										<form id="sites-searchbox-form"
											action="/a/mycellwasstolen.com/stolencell/system/app/pages/search">
											<input type="hidden" id="sites-searchbox-scope" name="scope"
												value="search-site" /> <input type="text"
												id="jot-ui-searchInput" name="q" size="20" value=""
												aria-label="Search this site" />
											<div id="sites-searchbox-button-set"
												class="goog-inline-block">
												<div role="button" id="sites-searchbox-search-button"
													class="goog-inline-block jfk-button jfk-button-standard"
													tabindex="0">Search this site</div>
											</div>
										</form>
									</div>
								</td>
							</tr>
							<tr class="sites-header-secondary-row"
								id="sites-chrome-horizontal-nav">
								<td colspan="2"
									id="sites-chrome-header-horizontal-nav-container">
									<div class="sites-header-nav">
										<ul class="sites-header-nav-container-tabs">
											<li class="current"><a
												class="sites-navigation-link current"
												href="#">Home</a></li>
											<li class="unselected"><a
												class="sites-navigation-link unselected"
												href="#">Check
													Cell Status</a></li>
											<li class="unselected"><a
												class="sites-navigation-link unselected"
												href="/registerCell">Register
													Stolen / Lost Phone</a></li>
											<li class="unselected"><a
												class="sites-navigation-link unselected"
												href="#">Secure
													Your Phone</a></li>
											<li class="unselected sites-header-nav-dropdown"><a
												class="sites-navigation-link unselected"
												href="#">Resources</a>
											<div class="sites-header-nav-dropdown-menu"
													style="display: none">
													<div class="sites-header-nav-dropdown-menuitem unselected">
														<a class="sites-navigation-link unselected"
															href="#">Blogs</a>
													</div>
													<div class="sites-header-nav-dropdown-menuitem unselected">
														<a class="sites-navigation-link unselected"
															href="#">FAQs</a>
													</div>
													<div class="sites-header-nav-dropdown-menuitem unselected">
														<a class="sites-navigation-link unselected"
															href="#">Discussion
															Forum</a>
													</div>
													<div class="sites-header-nav-dropdown-menuitem unselected">
														<a class="sites-navigation-link unselected"
															href="#">Contact-Us</a>
													</div>
												</div></li>
										</ul>
										<div style="clear: both;"></div>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>