@(message: String)
<div class="top-color">
		<table>
			<tr>
		  	 <td>
				<h2>
					<a href="#" id="sites-logo">
						 <img id="logo-img" src="@routes.Assets.at("images/customLogo.png")" alt="stolencell"/>
		    		</a>
	   	   		</h2>
	   	  	</td>
	   	 	 <td width="27%">
	   	 		 <input type="text" id="searchInput"/>
	   	 			 <button class="btn btn-sm" value="Search">@Messages("default.search")</button>
	   	  	</td>
	   		</tr>
    	</table>
    <div >
    	<ul id="menu">
    		<li class="current"><a href="/">@Messages("default.home")</a></li>
    		<li class="unselected"><a href="/mobileStatus">@Messages("default.mobile.status")</a></li>
    		<li class="unselected"><a href="/registerCell">@Messages("default.stolen.cell.registration")</a></li>
    		<li class="unselected"><a href="/registerCell">@Messages("default.cell.registration")</a></li>
    		<li class="unselected"><a href="#">@Messages("default.resources")</a></li>
    	</ul>
    </div>
</div>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">