@(message: String) @main("Welcome to Play") {

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" itemscope=""
	itemtype="http://schema.org/WebPage">
<head>
@header("hello")
<meta http-equiv="X-UA-Compatible" content="chrome=1" />

<link rel="shortcut icon"
	href="/a/mycellwasstolen.com/stolencell/_/rsrc/1303924960678/favicon.ico"
	type="image/x-icon" />
<link rel="apple-touch-icon"
	href="https://ssl.gstatic.com/sites/p/8d7917/system/app/images/apple-touch-icon.png"
	type="image/png" />


<meta name="title" content="stolencell" />
<meta itemprop="name" content="stolencell" />
<meta property="og:title" content="stolencell" />
<meta name="description"
	content="This is a community driven social site which aims to break the cell phone theft cycle. It aspires to do this by making a social database accessible by people where they can check stolen IMEI numbers." />
<meta itemprop="description"
	content="This is a community driven social site which aims to break the cell phone theft cycle. It aspires to do this by making a social database accessible by people where they can check stolen IMEI numbers." />
<meta id="meta-tag-description" property="og:description"
	content="This is a community driven social site which aims to break the cell phone theft cycle. It aspires to do this by making a social database accessible by people where they can check stolen IMEI numbers." />
<meta itemprop="image"
	content="/a/mycellwasstolen.com/stolencell/_/rsrc/1318091274394/config/customLogo.gif?revision=25" />
<meta property="og:image"
	content="/a/mycellwasstolen.com/stolencell/_/rsrc/1318091274394/config/customLogo.gif?revision=25" />
<style type="text/css">
</style>
<link rel="stylesheet" type="text/css"
	href="https://ssl.gstatic.com/sites/p/8d7917/system/app/themes/simplywhite/standard-css-simplywhite-ltr-ltr.css" />
<link rel="stylesheet" type="text/css"
	href="/a/mycellwasstolen.com/stolencell/_/rsrc/1384163560000/system/app/css/overlay.css?cb=simplywhite15a90%25160250goog-ws-nav-nosidecontent30middlestandard" />
<link rel="stylesheet" type="text/css"
	href="/a/mycellwasstolen.com/stolencell/_/rsrc/1384163560000/system/app/css/camelot/allthemes-view.css" />
<!--[if IE]>
          <link rel="stylesheet" type="text/css" href="/a/mycellwasstolen.com/stolencell/system/app/css/camelot/allthemes%2die.css" />
        <![endif]-->
<title>stolencell</title>

</head>
<body xmlns="http://www.google.com/ns/jotspot" id="body"
	class=" en            ">

	<div id="sites-chrome-main-wrapper">
		<div id="sites-chrome-main-wrapper-inside">
			<table id="sites-chrome-main" class="sites-layout-hbox"
				cellspacing="0" cellpadding="{scmCellpadding}" border="0">
				<tr>
					<td id="sites-chrome-sidebar-left"
						class="sites-layout-sidebar-left"
						style="display: none; width: 250px"></td>
					<td id="sites-canvas-wrapper">
						<div id="sites-canvas">
							<div id="goog-ws-editor-toolbar-container"></div>
							<div xmlns="http://www.w3.org/1999/xhtml" id="title-crumbs"
								style="display: none;"></div>
							<h3 xmlns="http://www.w3.org/1999/xhtml"
								id="sites-page-title-header" style="display: none;" align="left">
								<span id="sites-page-title" dir="ltr">Home</span>
							</h3>
							<div id="sites-canvas-main" class="sites-canvas-main">
								<div id="sites-canvas-main-content">
									<div xmlns="http://www.w3.org/1999/xhtml"
										class="sites-layout-name-right-sidebar-hf sites-layout-vbox">
										<div class="sites-layout-tile sites-tile-name-header">
											<div dir="ltr">
												<font size="6"><b><font color="#3d85c6">Don't
															lose heart ...</font></b><br /></font>
											</div>
										</div>
										<table cellspacing="0" class="sites-layout-hbox">
											<tbody>
												<tr>
													<td class="sites-layout-tile sites-tile-name-content-1"><div
															dir="ltr">
															<div>
																<span
																	style="font-family: arial, sans-serif; white-space: pre-wrap"><span
																	style="font-family: Arial, Verdana, sans-serif; white-space: normal">
																		<h2>
																			<a name="TOC-We-have-been-there-as-well"></a><font
																				color="#6aa84f" size="5">We have been there
																				as well</font><br />
																		</h2>
																		<div>
																			<p align="justify" lang="en-US"
																				style="margin-bottom: 0.35cm">
																				<font color="#444444"><font
																					face="Arial, serif"><font size="3">Chances
																							are that you are visiting this page, </font></font></font><font
																					color="#444444"><font face="Arial, serif"><font
																						size="3"
																						style="background-color: rgb(255, 255, 255)">because,
																							you or someone</font></font></font><font color="#444444"><font
																					face="Arial, serif"><font size="3">
																							close to you,<span
																							style="background-color: rgb(255, 255, 255)">
																						</span>
																					</font></font></font><font color="#444444"><font
																					face="Arial, serif"><font size="3"><span
																							style="background-repeat: initial initial; background-color: rgb(255, 255, 255)">has
																								lost his/her cell phone</span></font></font></font><font color="#444444"><font
																					face="Arial, serif"><font size="3">.<span
																							style="background-color: rgb(255, 255, 255)">
																						</span></font></font></font><font color="#444444"><font
																					face="Arial, serif"><font size="3"><span
																							style="background-repeat: initial initial; background-color: rgb(255, 255, 255)">The
																								feeling</span><span
																							style="background-repeat: initial initial; background-color: rgb(255, 255, 255)">
																						</span><span
																							style="background-repeat: initial initial; background-color: rgb(255, 255, 255)">of
																								losing a cell phone is analogous to losing a
																								part of your life.</span></font></font></font><font color="#444444"><font
																					face="Arial, serif"><font size="3">
																							We have been in the same situation. This site
																							with its database of over 50,000 (and growing)
																							lost / stolen cell </font></font></font><font color="#444444"><font
																					face="Arial, serif"><font size="3"><span
																							style="background-repeat: initial initial; background-color: rgb(255, 255, 255)">phones</span><span
																							style="background-color: rgb(255, 255, 255)">,</span></font></font></font><font
																					color="#444444"><font face="Arial, serif"><font
																						size="3"> is an attempt to break the cycle
																							of cell phone thefts. Let us see how the stolen
																							cell </font></font></font><font color="#444444"><font
																					face="Arial, serif"><font size="3"><span
																							style="background-repeat: initial initial; background-color: rgb(255, 255, 255)">phone
																								process works.</span></font></font></font>
																			</p>
																			<br />
																		</div>
																		<div style="font-size: 13px">
																			<div
																				style="display: block; margin-right: auto; margin-left: auto; text-align: center">
																				<a
																					href="https://sites.google.com/a/mycellwasstolen.com/stolencell/data/without-mcws.png?attredirects=0"
																					imageanchor="1"><img border="0"
																					src="https://sites.google.com/a/mycellwasstolen.com/stolencell/_/rsrc/1318078936398/data/without-mcws.png" /></a>
																			</div>
																			<br />
																		</div>
																</span></span><span style="font-family: Arial, Verdana, sans-serif"><h2>
																		<a name="TOC-How-does-MCWS-attempt-to-stop-this-"></a><font
																			color="#6aa84f" size="5">How does MCWS attempt
																			to stop this?</font>
																	</h2>
																	<div>
																		<font color="#6aa84f" size="3"><b>Of
																				course, with your help ...</b></font>
																	</div>
																	<div>
																		<font color="#38761d" size="3"><br /></font>
																	</div>
																	<div>
																		<font size="3">Check out the diagram below. As
																			soon as you register your cell with MCWS, there are
																			multiple things which happen.</font>
																	</div></span>
															</div>
															<div>
																<span style="font-family: Arial, Verdana, sans-serif"><br /></span><span
																	style="font-family: Arial, Verdana, sans-serif"><div>
																		<font size="3"><div
																				style="color: rgb(56, 118, 29); display: block; margin-right: auto; margin-left: auto; text-align: center">
																				<a
																					href="https://sites.google.com/a/mycellwasstolen.com/stolencell/data/with-mcws.png?attredirects=0"
																					imageanchor="1"><img border="0"
																					src="https://sites.google.com/a/mycellwasstolen.com/stolencell/_/rsrc/1318079222226/data/with-mcws.png" /></a>
																			</div>
																			<div>
																				<font size="3"><br /></font>
																			</div>Once, the stolen cell information report is verified
																			by MCWS, an entry for the stolen cell IMEI is made in
																			the MCWS database. Any new buyer can immediately
																			check the IMEI of the cell phone that he is buying by
																			checking the stolen registry database. This is not
																			all, see why registering with MCWS is a good idea.</font>
																	</div></span><span style="font-family: Arial, Verdana, sans-serif"><h2>
																		<a
																			name="TOC-Why-registering-with-MCWS-is-a-good-idea-"></a><font
																			color="#6aa84f" size="5">Why registering with
																			MCWS is a good idea?</font>
																	</h2></span>
																<div
																	style="font-family: arial, sans-serif; white-space: normal">
																	<font size="3"
																		style="font-family: Arial, Verdana, sans-serif"><font><font
																			face="arial, sans-serif"><span
																				style="white-space: pre-wrap"><span
																					style="font-family: Arial, Verdana, sans-serif; white-space: normal"><font
																						face="arial, sans-serif"> This is an
																							important question and we are glad if you thought
																							about it. The key answer is that this data is <font
																							color="#6aa84f"><u><b>shared.</b></u></font>
																					</font></span></span></font></font></font>
																</div>
																<div>
																	<p lang="en-US"
																		style="font-family: arial, sans-serif; white-space: normal; margin-left: 1.27cm; margin-top: 0.18cm; margin-bottom: 0.18cm; line-height: 0.18cm">
																		<font color="#444444" style="line-height: 0.18cm"><font
																			face="Arial, serif"><font size="3"><b><br /></b></font></font></font>
																	</p>
																</div>
															</div>
															<blockquote
																style="margin: 0px 0px 0px 40px; border: none; padding: 0px">
																<div>
																	<div>
																		<div style="text-align: left">
																			<font face="arial, sans-serif"><font
																				color="#444444" style="line-height: 0.18cm"><font><font
																						size="3"><b> </b>1.<b> Since we share
																								this with all the phone </b></font></font></font><font color="#444444"
																				style="line-height: 0.18cm"><font size="3"><b><span
																							style="background-repeat: initial initial; background-color: rgb(255, 255, 255)">buyers,</span></b></font></font><font
																				color="#444444" style="line-height: 0.18cm"><font
																					size="3"> including you and me, any new
																						buyer would be able to punch </font></font></font>
																		</div>
																	</div>
																</div>
																<div>
																	<div>
																		<div style="text-align: left">
																			<font face="arial, sans-serif"><span
																				style="line-height: 0.18cm"> </span></font>
																		</div>
																		<div style="text-align: left">
																			<font face="arial, sans-serif"><span
																				style="line-height: 0.18cm"> </span></font>
																		</div>
																		<div style="text-align: left">
																			<font face="arial, sans-serif"><span
																				style="line-height: 0.18cm"><font size="3">
																						in the</font> </span><font color="#444444"><font size="3"><span
																						style="line-height: 6.800000190734863px">MEIR</span><span
																						style="line-height: 0.18cm"> </span></font></font><font
																				color="#444444" style="line-height: 0.18cm"><font
																					size="3"><span
																						style="background-repeat: initial initial; background-color: rgb(255, 255, 255)">number</span></font></font><font
																				color="#444444" style="line-height: 0.18cm"><font
																					size="3"> and check from the MCWS database
																						whether, the<span
																						style="background-color: rgb(255, 255, 255)">
																					</span>
																				</font></font><font color="#444444" style="line-height: 0.18cm"><font
																					size="3"><span
																						style="background-repeat: initial initial; background-color: rgb(255, 255, 255)">cell
																							is stolen or clean.</span></font></font></font>
																		</div>
																		<div style="text-align: left">
																			<font color="#444444" style="line-height: 0.18cm"><font
																				face="arial, sans-serif" size="3"><span
																					style="background-repeat: initial initial; background-color: rgb(255, 255, 255)"><br /></span></font></font>
																		</div>
																	</div>
																</div>
																<div>
																	<div></div>
																</div>
																<div>
																	<div>
																		<div style="text-align: left">
																			<font color="#444444" face="arial, sans-serif"
																				style="line-height: 0.18cm"><font
																				color="#444444" style="line-height: 0.18cm"><font
																					size="3"><b><br /></b></font></font></font>
																		</div>
																		<div style="text-align: left">
																			<font color="#444444" face="arial, sans-serif"
																				style="line-height: 0.18cm"><font
																				color="#444444" style="line-height: 0.18cm"><font
																					size="3"><b> </b>2.<b> </b></font></font><font
																				color="#444444" style="line-height: 0.18cm"><font
																					size="3"> Since we </font></font><font color="#444444"
																				style="line-height: 0.18cm"><font size="3"><b>share
																							this data with </b></font></font><span
																				style="background-color: rgb(255, 255, 255)"><font
																					color="#444444" style="line-height: 0.18cm"><font
																						size="3"><b><span
																								style="background-repeat: initial initial">all
																									the carriers</span></b></font></font><font color="#444444"
																					style="line-height: 0.18cm"><font size="3"><b>,</b></font></font></span><font
																				color="#444444" style="line-height: 0.18cm"><font
																					size="3"> across multiple countries, they
																						have ammunition to block the </font></font></font>
																		</div>
																	</div>
																</div>
																<div>
																	<div>
																		<div style="text-align: left">
																			<font color="#444444" face="arial, sans-serif"
																				style="line-height: 0.18cm"><font
																				color="#444444" style="line-height: 0.18cm"><font
																					size="3"> </font></font></font>
																		</div>
																		<div style="text-align: left">
																			<font color="#444444" face="arial, sans-serif"
																				style="line-height: 0.18cm"><span
																				style="line-height: 0.18cm; font-size: medium">
																			</span></font>
																		</div>
																		<div style="text-align: left">
																			<font color="#444444" face="arial, sans-serif"
																				style="line-height: 0.18cm"><span
																				style="line-height: 0.18cm; font-size: medium">
																					calls </span><span
																				style="line-height: 0.18cm; font-size: medium">originating
																					from these cells. </span></font>
																		</div>
																	</div>
																</div>
																<div>
																	<div>
																		<div style="text-align: left">
																			<font color="#444444" style="line-height: 0.18cm"><font
																				face="arial, sans-serif" size="3"><b><br /></b></font></font>
																		</div>
																		<div style="text-align: left">
																			<font face="arial, sans-serif"><font
																				color="#444444" style="line-height: 0.18cm"><font
																					size="3"><br /></font></font></font>
																		</div>
																		<div style="text-align: left">
																			<font face="arial, sans-serif"><font
																				color="#444444" style="line-height: 0.18cm"><font
																					size="3"> 3.</font></font><font color="#444444"
																				style="line-height: 0.18cm"><font size="3">
																						Since we </font></font><font color="#444444"
																				style="line-height: 0.18cm"><font size="3"><b>share
																							this data with the local crime </b></font></font><font
																				color="#444444" style="line-height: 0.18cm"><font
																					size="3"><b><span
																							style="background-repeat: initial initial; background-color: rgb(255, 255, 255)">authorities,</span></b></font></font><font
																				color="#444444" style="line-height: 0.18cm"><font
																					size="3"> they can quickly raid a second
																						hand shop to see if </font></font></font>
																		</div>
																		<div style="text-align: left">
																			<font color="#444444" style="line-height: 0.18cm"><font
																				face="arial, sans-serif" size="3"><br /></font></font>
																		</div>
																		<div style="text-align: left">
																			<font face="arial, sans-serif"><font
																				color="#444444" style="line-height: 0.18cm"><font
																					size="3"><span> </span></font></font></font>
																		</div>
																		<div style="text-align: left">
																			<font face="arial, sans-serif"><font
																				color="#444444" style="line-height: 0.18cm"><font
																					size="3"><span> </span>they </font></font><span
																				style="line-height: 0.18cm; font-size: medium">carry
																			</span><span style="line-height: 0.18cm; font-size: medium">stolen
																					phones.</span></font>
																		</div>
																	</div>
																</div>
																<div>
																	<div></div>
																</div>
																<div>
																	<div style="text-align: left">
																		<font color="#444444" style="line-height: 0.18cm"><font
																			face="arial, sans-serif" size="3"><b><br /></b></font></font>
																	</div>
																	<div style="text-align: left">
																		<font face="arial, sans-serif"><font
																			color="#444444" style="line-height: 0.18cm"><font
																				size="3"> </font></font></font>
																	</div>
																	<div style="text-align: left">
																		<font face="arial, sans-serif"><font
																			color="#444444" style="line-height: 0.18cm"><font
																				size="3"> 4.<b> </b></font></font><font color="#444444"
																			style="line-height: 0.18cm"><font size="3">
																					Since the stolen cell phone data is present over
																					the internet, </font></font><font color="#444444"
																			style="line-height: 0.18cm"><font size="3"><b>
																						your stolen phone is practically unusable</b></font></font><font
																			color="#444444" style="line-height: 0.18cm"><font
																				size="3"> across </font></font></font>
																	</div>
																	<div style="text-align: left">
																		<font color="#444444" style="line-height: 0.18cm"><font
																			face="arial, sans-serif" size="3"><br /></font></font>
																	</div>
																	<div style="text-align: left">
																		<font face="arial, sans-serif"><font
																			color="#444444" style="line-height: 0.18cm"><font
																				size="3"> </font></font></font>
																	</div>
																	<div style="text-align: left">
																		<font face="arial, sans-serif"><font
																			color="#444444" style="line-height: 0.18cm"><font
																				size="3"> </font></font></font><font face="arial, sans-serif"><font
																			color="#444444" style="line-height: 0.18cm"><font
																				size="3">the </font></font><span
																			style="line-height: 0.18cm"><font size="3">world.</font></span></font><font
																			color="#444444"
																			style="line-height: 0.18cm; font-family: arial, sans-serif"><font
																			size="3"><b> </b></font></font><font color="#444444"
																			style="line-height: 0.18cm; font-family: arial, sans-serif"><font
																			size="3"> Last but not the least, </font></font><font
																			color="#444444"
																			style="line-height: 0.18cm; font-family: arial, sans-serif"><font
																			size="3"><b>you get an immense peace of
																					mind</b></font></font><font color="#444444"
																			style="line-height: 0.18cm; font-family: arial, sans-serif"><font
																			size="3"> </font></font><font color="#444444"
																			style="line-height: 0.18cm; font-family: arial, sans-serif"><font
																			size="3"><span
																				style="background-repeat: initial initial; background-color: rgb(255, 255, 255)">because
																					no one would be able to use your</span></font></font>
																	</div>
																	<div style="text-align: left">
																		<font color="#444444"
																			style="line-height: 0.18cm; font-family: arial, sans-serif"><font
																			size="3"><span
																				style="background-repeat: initial initial; background-color: rgb(255, 255, 255)"><br /></span></font></font>
																	</div>
																	<div style="text-align: left">
																		<font color="#444444"
																			style="line-height: 0.18cm; font-family: arial, sans-serif"><font
																			size="3"><span
																				style="background-repeat: initial initial; background-color: rgb(255, 255, 255)"><br /></span></font></font>
																	</div>
																	<div style="text-align: left">
																		<font color="#444444"
																			style="line-height: 0.18cm; font-family: arial, sans-serif"><font
																			size="3"><span
																				style="background-repeat: initial initial; background-color: rgb(255, 255, 255)">
																					stolen </span></font></font><font color="#444444"
																			style="font-family: arial, sans-serif; line-height: 0.18cm"><font
																			color="#444444" style="line-height: 0.18cm"><font
																				size="3"><span
																					style="background-repeat: initial initial; background-color: rgb(255, 255, 255)">cell.
																				</span></font></font></font><span
																			style="font-family: arial, sans-serif; background-color: rgb(255, 255, 255)"><font
																			color="#444444" style="line-height: 0.18cm"><font
																				size="3">With </font></font><span
																			style="line-height: 0.18cm; font-size: medium">your
																				support the cell phone stealing would come down
																				immensely.</span></span>
																	</div>
																</div>
																<div>
																	<div></div>
																</div>
															</blockquote>
															<div>
																<div style="white-space: normal">
																	<ol>
																	</ol>
																	<div>
																		<font size="3"><div
																				style="text-align: left; display: block; margin-right: auto; margin-left: auto">
																				<br />
																			</div>
																			<div
																				style="font-family: arial, sans-serif; text-align: left; display: block; margin-right: auto; margin-left: auto">
																				<a
																					href="https://sites.google.com/a/mycellwasstolen.com/stolencell/data/why-mcws-good-idea.png?attredirects=0"
																					imageanchor="1"><img border="0"
																					src="https://sites.google.com/a/mycellwasstolen.com/stolencell/_/rsrc/1318079792127/data/why-mcws-good-idea.png" /></a>
																			</div>
																			<br /></font>
																	</div>
																	<br /> <br />
																</div>
															</div>
															<div>
																<div>
																	<br />
																</div>
																<div>
																	<div
																		style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; background-color: transparent; font-family: Times">
																		<font face="Verdana"><span
																			style="white-space: pre-wrap"><span
																				style="font-family: Arial, Verdana, sans-serif; white-space: normal"><h2
																						style="color: rgb(68, 68, 68); font-size: 13px">
																						<a name="TOC-Convinced-"></a><font color="#6aa84f"
																							size="5">Convinced? </font>
																					</h2>
																					<h2 style="color: rgb(68, 68, 68); font-size: 13px">
																						<a name="TOC-Register-your-stolen-cell-..."></a><font
																							color="#6aa84f" size="5"><a
																							href="/registerCell">Register your stolen cell ...</a></font>
																					</h2></span></span><span
																			style="font-family: Arial, Verdana, sans-serif"><h2
																					style="color: rgb(68, 68, 68); font-size: 13px">
																					<a
																						name="TOC-Register-your-new-cell-and-be-safe-..."></a><font
																						color="#6aa84f" size="5"><a
																						href="#">Register your new cell and be safe ...</a></font>
																				</h2></span><span style="white-space: pre-wrap"><font
																				color="#000000" size="3"><br /></font></span></font>
																	</div>
																</div>
															</div>
														</div></td>
													<td
														class="sites-layout-tile sites-tile-name-content-2 sites-canvas-sidebar"><div
															dir="ltr">
															<table border="0" bordercolor="#888888" cellspacing="0"
																style="margin: 0px; border-collapse: collapse; border-color: rgb(136, 136, 136); border-width: 0px">
																<tbody>
																	<tr>
																		<td
																			background="https://3737440884146081749-a-google-com-s-sites.googlegroups.com/a/google.com/mandy-science/About.png?attachauth=ANoY7crS7e2StN0RVKECgrw6zz7Pqe-NI7svDWy1Q_E21CRqbY8Sv3GUcjlaEyXRPgn9kzR7V8S-wvWSSxUwHUxqgbPADyMgZpZ9pFtprr3IvoXXL0sco6HrZlzSVBRch3DXoX09u5vndnSxwoqOfuRXKBnC5C06ukjcwmR0yFRvm6Yj9JG8mSyJwEGqZsK8Iru9Mj12TgMz&amp;attredirects=0"
																			style="vertical-align: top; width: 250px"><br />
																			<br />
																			<table border="0" bordercolor="#888888"
																				cellspacing="0"
																				style="margin: 0px; border-collapse: collapse; border-color: rgb(136, 136, 136); border-width: 0px">
																				<tbody>
																					<tr>
																						<td
																							style="vertical-align: top; width: 95px; text-align: right"><br /></td>
																						<td
																							style="vertical-align: top; width: 155px; padding-right: 15px; padding-left: 5px"><span
																							style="border-collapse: separate"><span
																								style="font-family: arial, sans-serif; font-size: small"><font><span
																										style="font-family: Arial, Verdana, sans-serif; white-space: normal"><font
																											face="arial, sans-serif"><span
																												style="font-family: Arial, Verdana, sans-serif; font-size: 13px; border-collapse: collapse">
																													<table border="0" bordercolor="#888888"
																														cellspacing="0"
																														style="margin: 0px; border-collapse: collapse; border-color: rgb(136, 136, 136); border-width: 0px">
																														<tbody>
																															<tr>
																																<td
																																	style="vertical-align: top; width: 159px; padding-right: 10px"><span
																																	style="border-collapse: separate; font-size: small"><font
																																		style="font-family: arial, sans-serif"><span
																																			style="color: rgb(68, 68, 68); font-family: Arial, Verdana, sans-serif; white-space: normal"><font
																																				face="arial, sans-serif"><span
																																					style="font-family: Arial, Verdana, sans-serif; font-size: 13px; border-collapse: collapse"><font
																																						color="#0000ff"> </font>
																																					<table border="0"
																																							bordercolor="#888888"
																																							cellspacing="0"
																																							style="margin: 0px; border-collapse: collapse; border-color: rgb(136, 136, 136); border-width: 0px">
																																							<tbody>
																																								<tr>
																																									<td
																																										style="vertical-align: top; width: 159px; padding-right: 10px"><font
																																										color="#0000ff" size="3"><b>Data</b></font></td>
																																								</tr>
																																							</tbody>
																																						</table>Over 700,000 mobile phones are
																																						stolen every year<br />
																																					<br />
																																					<div
																																							style="display: block; text-align: left">
																																							<a
																																								href="https://sites.google.com/a/mycellwasstolen.com/stolencell/data/stolen.jpg?attredirects=0"
																																								imageanchor="1"><img
																																								border="0" height="112"
																																								src="https://sites.google.com/a/mycellwasstolen.com/stolencell/_/rsrc/1328953884018/data/stolen.jpg?height=112&amp;width=200"
																																								width="200" /></a>
																																						</div>
																																						<br />
																																					<br /></span></font></span></font></span></td>
																															</tr>
																														</tbody>
																													</table>
																											</span></font></span></font></span></span></td>
																					</tr>
																				</tbody>
																			</table>
																			<br /></td>
																	</tr>
																</tbody>
															</table>
															<br />
															<div>
																<table border="0" bordercolor="#888888" cellspacing="0"
																	style="margin: 0px; border-collapse: collapse; border-color: rgb(136, 136, 136); border-width: 0px">
																	<tbody>
																		<tr>
																			<td
																				background="https://3737440884146081749-a-google-com-s-sites.googlegroups.com/a/google.com/mandy-science/judgesnotes.png?attachauth=ANoY7cqa7vfUL9D8bUTzfmq5BpPANq3dFzLVCZnFqrqnAW_sJItahILeER2NT-XIRY9aVHToWL8r_UUvgh3N3R4yZ2FqRxn3x3yZSsRWo49UzHU5ZP2OJ775oaGkgCHKT7Bl0EEmfR3aPPe3mTOcitL6j0J3pMJ13CwVnzprnvvpBvlO2rT_ZsWHw47e-X2hyeC6_snAwt7p&amp;attredirects=0"
																				style="vertical-align: top; width: 250px"><br />
																				<br />
																				<table border="0" bordercolor="#888888"
																					cellspacing="0"
																					style="margin: 0px; border-collapse: collapse; border-color: rgb(136, 136, 136); border-width: 0px">
																					<tbody>
																						<tr>
																							<td style="vertical-align: top; width: 91px"><br /></td>
																							<td
																								style="vertical-align: top; width: 159px; padding-right: 10px">
																								<table border="0" bordercolor="#888888"
																									cellspacing="0"
																									style="margin: 0px; border-collapse: collapse; border-color: rgb(136, 136, 136); border-width: 0px">
																									<tbody>
																										<tr>
																											<td
																												style="vertical-align: top; width: 159px; padding-right: 10px"><span
																												style="border-collapse: separate"><span
																													style="font-family: arial, sans-serif; white-space: pre-wrap"><span
																														style="font-family: Arial, Verdana, sans-serif; white-space: normal"><b><font
																																color="#0000ff" size="3">Helpless</font></b></span><font
																														color="#666666" style="font-size: small">
																													</font></span></span><span style="border-collapse: separate">Governments
																													across the world are helpless to combat
																													this menace without social help<br />
																												<br />
																												<div
																														style="display: block; text-align: left">
																														<a
																															href="https://sites.google.com/a/mycellwasstolen.com/stolencell/data/help.jpg?attredirects=0"
																															imageanchor="1"><img border="0"
																															height="143"
																															src="https://sites.google.com/a/mycellwasstolen.com/stolencell/_/rsrc/1328953910868/data/help.jpg?height=143&amp;width=200"
																															width="200" /></a>
																													</div>
																													<br />
																											</span></td>
																										</tr>
																									</tbody>
																								</table> <span style="border-collapse: separate"><font
																									color="#666666"> </font></span>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																				<table border="0" bordercolor="#888888"
																					cellspacing="0"
																					style="border-collapse: collapse; border-top-color: rgb(136, 136, 136); border-right-color: rgb(136, 136, 136); border-bottom-color: rgb(136, 136, 136); border-left-color: rgb(136, 136, 136); border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px">
																					<tbody>
																						<tr>
																							<td
																								style="padding-right: 15px; padding-left: 5px; width: 200px; height: 211px"><span
																								style="border-collapse: separate"><span
																									style="font-family: arial, sans-serif; font-size: small"><font
																										color="#666666" style="white-space: pre-wrap"><div
																												style="text-align: left">
																												<br />
																											</div>
																											<div style="text-align: left">
																												<br />
																											</div>
																											<div style="text-align: left">
																												<br />
																											</div>
																											<div style="text-align: left">
																												<br />
																											</div>
																											<div style="text-align: left">
																												<br />
																											</div>
																											<div style="text-align: left">
																												<br />
																											</div>
																											<div style="text-align: left">
																												<br />
																											</div>
																											<div style="text-align: left">
																												<br />
																											</div>
																											<div style="text-align: left">
																												<br />
																											</div>
																											<div style="text-align: left">
																												<a
																													href="https://sites.google.com/a/mycellwasstolen.com/stolencell/check-cell-status/maven.jpg?attredirects=0"
																													imageanchor="1"><img border="0"
																													height="149"
																													src="https://sites.google.com/a/mycellwasstolen.com/stolencell/_/rsrc/1332097050016/check-cell-status/maven.jpg?height=149&amp;width=200"
																													style="border-style: initial; border-color: initial"
																													width="200" /></a>
																											</div>Participate in the<a
																											href="https://sites.google.com/a/mycellwasstolen.com/stolencell/cell-maven">
																												Cell Maven drive </a>and win free insurance for
																											5 years on your mobile </font></span></span></td>
																						</tr>
																					</tbody>
																				</table></td>
																		</tr>
																	</tbody>
																</table>
															</div>
															<br />
														</div></td>
												</tr>
											</tbody>
										</table>




										@footer("hello")
</body>
</html>


}
