@(message: String) 

@main("Welcome to MCWS",user=None) {

	<div class="container margin">
		<div id="carousel-example-generic" class="carousel slide"
			data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
	
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<div class="carousel-panel">
						<div class="col-md-4">							
							<div class="panel panel-info">
							  	<div class="panel-heading">
							    	<h3 class="panel-title">We have been there as well</h3>
							  	</div>
							  	<div class="panel-body">
							    	Chances are that you are visiting this
									page, because, you or someone close to you, has lost his/her cell
									phone. The feeling of losing a cell phone is analogous to losing a
									part of your life. We have been in the same situation. This site
									with its database of over 50,000 (and growing) lost / stolen cell
									phones, is an attempt to break the cycle of cell phone thefts. Let
									us see how the stolen cell phone process works.
							  	</div>
							</div>
						</div>
						<div class="col-md-8"><img src="@routes.Assets.at("images/without-mcws.png")" alt="..."></div>
					</div>
					<div class="carousel-caption">...</div>
				</div>
				<div class="item">
					<div class="carousel-panel">
						<div class="col-md-4">							
							<div class="panel panel-success">
							  	<div class="panel-heading">
							    	<h3 class="panel-title">How does MCWS attempt to stop this?</h3>
							  	</div>
							  	<div class="panel-body">
							  		<p class="lead">Of course, with your help ...</p>
								  	<p>Check out the diagram below. As soon
									as you register your cell with MCWS, there are multiple things
									which happen.</p>
									<p>Once, the stolen cell information report is verified by
									MCWS, an entry for the stolen cell IMEI is made in the MCWS
									database. Any new buyer can immediately check the IMEI of the
									cell phone that he is buying by checking the stolen registry
									database. This is not all, see why registering with MCWS is a
									good idea.</p>
							</div>
							</div>
						</div>
						<div class="col-md-8"><img src="@routes.Assets.at("images/with-mcws.png")" alt="..."></div>
					</div>
					<div class="carousel-caption">...</div>
				</div>
				<div class="item">
					<div class="carousel-panel">
						<div class="col-md-5">							
							<div class="panel panel-warning">
							  	<div class="panel-heading">
							    	<h3 class="panel-title">Why registering with MCWS is a good idea?</h3>
							  	</div>
							  	<div class="panel-body">
								  	<p>This is an important question and we
									are glad if you thought about it. The key answer is that this
									data is shared.
									</p>
									<ul>
										<li>
											Since we share this with all the phone buyers, including
											you and me, any new buyer would be able to punch in the MEIR
											number and check from the MCWS database whether, the cell is
											stolen or clean.
										</li>
										<li>
											Since we share this data with all the carriers, across
											multiple countries, they have ammunition to block the calls
											originating from these cells.
										</li>
										<li>
											Since we share this data with the local crime authorities,
											they can quickly raid a second hand shop to see if they carry
											stolen phones.
										</li>
										<li>
											Since the stolen cell phone data is present over the
											internet, your stolen phone is practically unusable across the
											world. Last but not the least, you get an immense peace of
											mind because no one would be able to use your stolen cell.
											With your support the cell phone stealing would come down
											immensely.
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-7"><img src="@routes.Assets.at("images/why-mcws-good-idea.png")" alt="..."></div>
					</div>
					<div class="carousel-caption">...</div>
				</div>
			</div>
	
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	
	</div>

}