@(mobileRegistrationForm: Form[model.repository.MobileRegisterForm], brands: List[model.repository.Brand], user: Option[model.repository.User])(implicit flash: Flash) 

@import helper._ 
@main("Mycellwasstolen: Register Stolen Phone",user){ 
<br><br>
	<div class="container" style="padding-top: 20px;">
		<div class="page-header">
			<h2>Register Stolen Phone</h2>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Please provide authentic IMEI proof</h3>

			</div>
			<div class="panel-body">
				<div class="row">
					@flash.get("ERROR").map { message =>
						<div class="alert alert-dismissable alert-danger">
							<strong>@message</strong>
						</div>
					}
					
					@flash.get("SUCCESS").map { message =>
						<div class="alert alert-dismissable alert-success">
							<strong>@message</strong>
						</div>
					}
				</div>
				<div class="row">
					<div class="col-lg-8">
						<div class="well form-horizontal">
							 @registerForm("stolen", mobileRegistrationForm, brands)
						</div>
					</div>
					<div class="col-lg-4">
						<div class="well">
							<div class="panel panel-warning">
								<div class="panel-heading">
									<h1 class="panel-title">It is pay back time for offenders</h1>
								</div>
								<div class="panel panel-info title-margin">
									<div class="panel-heading">
										<h1 class="panel-title">I want to make my cell unusable for everyone else ...</h1>
									</div>
									<div class="text-margin">
									This is exactly the reason why this database exists. Please
									enter your details here and we could send you a confirmation
									mail as soon as your details reflect in our database. Please
									make sure that you upload a proof of purchase in your name
									and/or a police complaint. Once all the required information is
									available to us, your stolen cell IMEI would appear on the
									database in less than 24 hours. Within the next 72 hours, it
									would have reached the local authorities and cell phone service
									providers around the globe. You can <a href="/mobileStatus">
										view your stolen IMEI report</a> once you are done.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
} 
