@(mobileStatusForm: Form[model.domains.Domain.MobileStatus])(implicit flash: Flash)
@import helper._
@header("Check Cell Status- stolencell")
@title = { @Messages("default.status") }
@main("Mycellwasstolen"){
<div class="well margin">
	<div id="sites-canvas-main" class="sites-canvas-main">
		<div dir="ltr">
			<b class="lemon">@Messages("default.lemon")</b>
		</div>
			<br>
				<table>
					<tbody>
						<tr>
							<td>
								<div>
									<font size="5" color="#6aa84f">
										<b>@Messages("default.lemon.ques")</b>
									</font>
								</div>
								<br>
								<div class="status-text">@Messages("default.status")
									<a href="http://en.wikipedia.org/wiki/Lemon_(automobile)">@Messages("default.lemon.link")
									</a>
									@Messages("default.text1")
									<p> @Messages("default.text2")
									<p><b>@Messages("default.text6")</b>@Messages("default.text3")
									<br>@Messages("default.text4") 
									<br>@Messages("default.text5") 
									<br>
									<b class="#06">*#06#</b>@Messages("default.blackberry") 
									<a href="https://bis.na.blackberry.com/html/web/help/en/find_BB_PIN_IMEI_ESN_MEID_221674_11.html">@Messages("default.help")
									</a>
								</div>
								<br></br>
								<div class="imei-sms status-text">@Messages("default.sms") 
									<img src="@routes.Assets.at("images/sms2.jpg")" alt="stolencell"/>@Messages("default.premium")
								</div>
									<br></br>
								<div class="mobile-status">
									<span class="font-color-heading"><b>@Messages("default.mobile.status")</b></span><br><br>
									<span class="font-text">@Messages("mobile.status.message"):</span>
								</div><br>
								<div class="sites-embed-align-center-wrapping-off">
									<input type="text" id="imeiMeid" name="imeiMeid">
										<div class="form-actions">
											<br><input type="submit" value="Check Status" class="btn btn-primary" onClick="showMobileRecord();"></a>
										</div>
									<br><div id="mobileRecords">
									</div>
								</div>
							</td>
							<td></td>
						</tr>
				</tbody>
		</table>
	</div>	
</div>
<script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>	
<script>
		function showMobileRecord() {
			var imeid = $('#imeiMeid').val();
			mobileRecord(imeid);
		}

		var mobileAjaxSuccess = function(data) {
			if (data.status == "Ok") {
				var mobile = data.mobileData;
				var mobileData = '<table class="table table-bordered"><tr><th>Username</th><th>Mobile Name</th><th>Mobile Model</th><th>Contact No</th></tr><tr><td>'
						+ mobile.userName
						+ '</td><td>'
						+ mobile.mobileName
						+ '</td><td>'
						+ mobile.mobileModel
						+ '</td><td>'
						+ mobile.contactNo + '</td></tr></table>';
				$("#mobileRecords").removeClass("alert alert-danger");
				$("#mobileRecords").html(mobileData);
			} else {
				$("#mobileRecords").addClass("alert alert-danger");
				$("#mobileRecords").html("Data Not Found");
				console.debug("Data no found");
			}
			console.debug("Success of Ajax Call");
			console.debug("Success of Ajax Call" + data);
		};

		var mobileAjaxError = function(err) {
			console.debug("Error of ajax Call");
			console.debug(err);
		};

		var mobileRecord = function(imeid) {

			var mobileAjaxCallBack = {
				success : mobileAjaxSuccess,
				error : mobileAjaxError
			};

			jsRoutes.controllers.MobileController.getImeiMeidList(imeid).ajax(
					mobileAjaxCallBack);
		};
</script>	           	
	
}