@(mobileStatusForm: Form[model.domains.Domain.MobileStatus])(implicit flash: Flash)
@import helper._
@main("Mobile Status"){
<div class="container margin form-margin">
	<div id="carousel-example-generic" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-panel">
				<div class="col-md-4">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h1 class="panel-title">Ensure that you are not buying a lemon!</h1>
						</div>
						<div class="panel panel-info title-margin">
							<div class="panel-heading">
							<h1 class="panel-title">What is a cell lemon?</h1>
							</div>
							<div class="panel-body">
								A lemon cell is analogous to a <a href="http://en.wikipedia.org/wiki/Lemon_(automobile)">lemon automobile</a> where 
								you find out problems, much after the purchase has been 
								made. If you buy a cell phone, which has a stolen record, 
								then you could get into multiple problems.<b>To check the cell
								phone status</b>, all you need is the IMEI/MEID number of the
								cell that you want to check. It is found printed inside 
								the battery compartment of the phone. It can also be 
								displayed on the screen of the phone by entering 
								<b>*#06#</b> onto the keypad on most phones. Blackberry users click 
							    <a href="https://bis.na.blackberry.com/html/web/help/en/find_BB_PIN_IMEI_ESN_MEID_221674_11.html">here </a>.
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h1 class="panel-title">Coming Soon - Check IMEI by sending an <img src="@routes.Assets.at("images/sms2.jpg")" alt="...">(premium service)</h1>
						</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h1 class="panel-title">Check Cell Status</h1>
						</div>
					</div>
					<input type="text" id="imeiMeid" name="imeiMeid" placeholder="IMEI/MEID">
					<div class="form-actions">
					<br>
					<input type="submit" value="Check Status" class="btn btn-primary"
									onClick="showMobileRecord();">
					</div>
					<br>
					<div id="mobileRecords"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>

<script type="text/javascript">
		function showMobileRecord() {
			var imeid = $('#imeiMeid').val();
			mobileRecord(imeid);
		}

		var mobileAjaxSuccess = function(data) {
			if (data.status == "Ok") {
				var mobile = data.mobileData;
				var mobileData = '<div id="mobile-status"><table class="table table-bordered"><tr><th>Username</th><th>Mobile Name</th><th>Mobile Model</th><th>Contact No</th></tr><tr><td>'
						+ mobile.userName
						+ '</td><td>'
						+ mobile.mobileName
						+ '</td><td>'
						+ mobile.mobileModel
						+ '</td><td>'
						+ mobile.contactNo + '</td></tr></table><p><button id="statusCheck" class="btn btn-primary" onClick="hideMobileRecord();" value="ok">OK</button></div>';
				$("#mobileRecords").removeClass("alert alert-danger");
				$("#mobileRecords").html(mobileData);
			} else {
				$("#mobileRecords").addClass("alert alert-danger");
				$("#mobileRecords").html("Data Not Found");
				console.debug("Data no found");
			}
			console.debug("Success of Ajax Call");
			console.debug("Success of Ajax Call" + data);
		};

		var mobileAjaxError = function(err) {
			console.debug("Error of ajax Call");
			console.debug(err);
		};

		var mobileRecord = function(imeid) {

			var mobileAjaxCallBack = {
				success : mobileAjaxSuccess,
				error : mobileAjaxError
			};

			jsRoutes.controllers.MobileController.getImeiMeidList(imeid).ajax(
					mobileAjaxCallBack);
		};
		
	     function hideMobileRecord() {
	        $("#mobile-status").hide();
		}
		
</script>	           	
	
}