@(mobileRegistrationForm: Form[model.domains.Domain.MobileRegisterForm], brands: List[model.domains.Domain.Brand], user: Option[model.domains.Domain.User])(implicit flash: Flash) 

@import helper._ 
@main("Secure Your Phone-stolencell",user){ 
	<div class="container">
		<div class="page-header">
			<h1>Register Form</h1>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Register to Secure Your Phone</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					@flash.get("ERROR").map { message =>
						<div class="alert alert-dismissable alert-danger">
							<strong>@message</strong>
						</div>
					}
					
					@flash.get("SUCCESS").map { message =>
						<div class="alert alert-dismissable alert-success">
							<strong>@message</strong>
						</div>
					}
				</div>
				<div class="row">
					<div class="col-lg-8">
						<div class="well form-horizontal">
							 @registerForm("clean", mobileRegistrationForm, brands)
						</div>
					</div>
					<div class="col-lg-4">
						<div class="well">
							<div class="panel panel-warning">
								<div class="panel-heading">
									<h1 class="panel-title">Register and be safe</h1>
								</div>
								<div class="panel panel-info title-margin">
									<div class="panel-heading">
										<h1 class="panel-title">I want to declare my ownership</h1>
									</div>
									<div class="panel-body">
									 This is one of the best things you can do.
									 Not only would your information be safe 
									 with us but it would help us to inform 
									 you immediately if someone else tries to 
									 register your cell phone IMEI in his name.
									 Once your ownership is authenticated by
									 MCWS database, we would send out an alarm
									 to you via an SMS / email immediately if 
									 someone else tries to register the IMEI again.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
} 
