@(selectedMenu: String, user: Option[model.repository.User])
<!-- Fixed navbar -->

@getActive(menuName: String, title: String) = {
	@if(title.contains(menuName)){ active}
}

<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background: rgba(4, 68, 152, 1);border-bottom: 3px solid rgba(200, 200, 200, 0.83);">
	<div class="container" style="background: rgba(4, 68, 152, 5);">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<a class="navbar-brand" href="/" style="color: rgba(251, 196, 39, 1); font-size: 22px; font-style: oblique;">MCWS</a>
			
		</div>
		
		<div class="collapse navbar-collapse">

			<ul class="nav navbar-nav">
				<li class="@getActive("Check Cell Status", selectedMenu)"><a id="mobileStatus" href="/mobileStatusForm">Check Cell Status</a></li>
				<li class="@getActive("Register Stolen Phone", selectedMenu)">
					<a id="stolenPhone" href="/register_stolen_phone">Register Stolen / Lost Phone</a>
				</li>
				<li class="@getActive("Register Form", selectedMenu)"><a id="securePhone" href="/register_new_phone">Secure Your Phone</a></li>
			</ul>
			
		</div><!--/.nav-collapse -->
	
	</div>
</div>
